@import './main_car_order';

.businesscar {

	// .businesscar__inner
	&__inner {
		margin-top: 24px;
		position: relative;

		@include media-xs {
			margin-top: 52px;
		}

		@include media-sm {
			margin-top: 60px;
		}

		@include media-md {
			margin-top: 60px;
		}

		@include media-lg {
			margin-top: 65px;
		}

		@include media-xl {
			margin-top: 80px;
		}
	}

	// .businesscar__table
	&__table {
		position: relative;
		padding: 10px 24px 10px 36px;
		margin-top: 40px;
		width: 323px;
		height: 458px;
		background-color: $color-pr3;
		color: $color-white;

		&::before {
			content: "";
			position: absolute;
			top: -16px;
			left: 16px;
			width: 301px;
			height: 458px;
			border: 1px solid $color-pr4;
		}

		@include media-xs {
			margin-top: 0px;
			width: 410px;
			height: 420px;

			&::before {
				width: 396px;
				height: 419px;
			}
		}

		@include media-sm {
			padding-top: 20px;
			padding-left: 40px;
			width: 311px;
			height: 519px;
			position: absolute;
			top: 45px;
			right: 0;

			&::before {
				width: 298px;
				height: 519px;
			}
		}

		@include media-md {
			padding-top: 72px;
			padding-right: 30px;
			width: 407px;
			height: 504px;
			top: 34px;

			&::before {
				width: 393px;
				height: 504px;
			}
		}

		@include media-lg {
			padding-top: 40px;
			padding-left: 50px;
			padding-right: 36px;
			width: 525px;
			height: 632px;
			top: 45px;

			&::before {
				width: 507px;
				height: 632px;
			}
		}

		@include media-xl {
			padding: 50px 280px 50px 90px;
			width: 825px;
			height: 632px;
			top: 52px;

			&::before {
				width: 584px;
				height: 632px;
			}
		}

	}

	// .businesscar__table-header
	&__table-header {
		font: 900 14px $CeraPro;
		line-height: 120%;
		text-transform: uppercase;

		@include media-xs {
			line-height: 120%;
			font-size: 18px;
		}

		@include media-lg {
			line-height: 120%;
			font-size: 24px;
		}

	}

	// .businesscar__list
	&__list {
		padding-left: 24px;
		margin-top: 16px;

		@include media-md {
			margin-top: 24px;
		}

	}

	// .businesscar__item
	&__item {
		margin: 10px 0;
		position: relative;
		font: 400 14px $Gilroy;
		line-height: 120%;

		&::before {
			content: "";
			position: absolute;
			top: 8px;
			left: -23px;
			width: 15px;
			border-top: 1px solid $color-white;
		}

		@include media-lg {
			margin: 16px 0;
			width: 462px;
			font-size: 16px;
			line-height: 160%;
			letter-spacing: 0.05em;
		}

	}

	// .businesscar__footer
	&__footer {
		margin-top: 24px;
		font: 400 14px $ProximaNova;
		line-height: 120%;

		span {
			color: $color-pr4;
		}

		@include media-xs {
			margin-top: 0px;
		}

		@include media-md {
			margin-top: 12px;

			span {
				font-size: 24px;
				line-height: 120%;
				font-weight: 700;
			}
		}

		@include media-xl {
			margin-top: 24px;
		}
	}

	&__img{
		img{
			width: fit-content;
			aspect-ratio: 128/72;
			object-fit: cover;
		}
	}
}