.carpark {
	background-color: $color-pr2;
	background-image: url('../img/carpark/front-view-of-a-generic-and-brandless-moder-car 320.webp');
	height: 586px;
	padding-top: 40px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: $color-white;

	@include media-xs {
		background-image: url('../img/carpark/front-view-of-a-generic-and-brandless-moder-car 410.webp');
		height: 693px;
		padding-top: 60px;
	}

	@include media-sm {
		background-image: url('../img/carpark/front-view-of-a-generic-and-brandless-moder-car 768.webp');
		height: 595px;
		padding-top: 80px;
	}

	@include media-md {
		background-image: url('../img/carpark/front-view-of-a-generic-and-brandless-moder-car 1000.webp');
		height: 694px;
		padding-top: 100px;
	}

	@include media-lg {
		background-image: url('../img/carpark/front-view-of-a-generic-and-brandless-moder-car 1280.webp');
		height: 760px;
	}

	@include media-xl {
		background-image: url('../img/carpark/front-view-of-a-generic-and-brandless-moder-car 1920.webp');
		height: 807px;
		padding-top: 140px;
	}

	// .carpark__header

	&__header {}

	// .carpark__inner

	&__inner {}

	// .carpark__table

	&__table {
		width: 100%;
		height: 233px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background-color: $color-pr3;
		font: 400 14px $Gilroy;
		line-height: 140%;

		@include media-xs {
			height: 247px;
		}

		@include media-sm {
			height: 277px;
			width: 239px;
			margin-top: 80px;
		}

		@include media-md {
			height: 322px;
			width: 271px;
			margin-left: 122px;
		}

		@include media-lg {
			height: 345px;
			width: 411px;
			margin-top: 100px;
			margin-left: 0;
		}

		@include media-xl {
			margin-left: 120px;
			margin-top: 90px;
		}

	}

	// .carpark__title

	&__title {
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 12px;

		@include media-md {
			font-size: 18px;
			line-height: 140%;
		}

		@include media-lg {
			font-size: 20px;
			line-height: 140%;
		}
	}

	// .carpark__main

	&__main {
		@include gradientborder;
		padding-left: 12px;
		padding-right: 20px;

		@include media-xs {
			padding-left: 20px;
			padding-right: 16px;
		}

		@include media-sm {
			padding-left: 12px;
			padding-right: 14px;
		}
	}

	// .carpark__item

	&__item {
		margin: 12px auto;
		font-weight: 600;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	// .carpark__icon

	&__icon {
		display: block;
		margin-right: 8px;
		font-size: 24px;
		color: $color-pr4;
	}

	// .carpark__address

	&__address {}

	// .carpark__subtitle

	&__subtitle {
		color: #CFCFCF;
		font-weight: 400;

		@include media-sm {
			display: block;
		}
	}

	// .carpark__call

	&__call {}

	// .carpark__select

	&__select {}

	// .carpark__select-body

	&__select-body {}

	// .carpark__select-item

	&__select-item {}

	// .carpark__select-marker

	&__select-marker {}
}

.wrapper {

	// .wrapper__container

	&__container {}
}

.header {

	// .header__hero

	&__hero {}

	// .header__subhero

	&__subhero {}
}

.icon-pin {}

.icon-clock {}

.button {

	// .button__link

	&__link {}
}

.select {

	// .select__premium

	&__premium {}

	// .select__business

	&__business {}

	// .select__sport

	&__sport {}
}