body {
	margin: 0 auto;
	padding: 0 6px;
	font-size: $html-font-size;
}

.wrapper {
	margin: 0 auto;
	position: relative;
	min-width: $mq-xxs;
	width: $mq-xxs-container;

	@include media-xs {
		min-width: $mq-xs;
		width: $mq-xs-container;
	}

	@include media-sm {
		min-width: $mq-sm;
		width: $mq-sm-container;
	}

	@include media-md {
		min-width: $mq-md;
		width: $mq-md-container;
	}

	// @include media-lg {
	// 	width: $mq-lg-container;
	// }

	// @include media-xl {
	// 	width: $mq-xl-container;
	// }
}