body {
	margin: 0 auto;
  height: 100%;
	padding: 0 6px;
	font-size: $html-font-size;
  display: flex;
  flex-direction: column;
	background-color: $color-pr2;
}

.wrapper {
	outline: 1px solid green;
  flex: 1 0 auto;
	margin: 0 auto;
	position: relative;
	min-width: $mq-xxs;
	// width: $mq-xxs-container;
	width: $mq-xxs;
	// z-index: 1;

	@include media-xs {
		// min-width: $mq-xs;
		// width: $mq-xs-container;
		width: $mq-xs;
	}

	@include media-sm {
		// min-width: $mq-sm;
		// width: $mq-sm-container;
		width: $mq-sm;
	}

	@include media-md {
		// min-width: $mq-md;
		// width: $mq-md-container;
		width: $mq-md;
	}

	@include media-lg {
		// min-width: $mq-lg;
		// width: $mq-lg-container;
		width: $mq-lg;
	}

	@include media-xl {
		// min-width: $mq-xl;
		// width: $mq-xl-container;
		width: $mq-xl;
	}
}