.header {

	background-color: $color-pr2;
	color: $color-white;
	background-image: linear-gradient(180deg, #ffffff40, #ffffff40);
	background-repeat: no-repeat;
	background-size: 50% 1px;
	background-position: center right;

	&__container {
		width: $mq-xxs-container;
		height: $height-header-xxs;

		margin: 0 auto;
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'logo social'
			'logo phone';
	}

	// .header__logo

	&__logo {
		grid-area: logo;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	// .header__menu
	&__menu {
		display: none;

		position: absolute;
		top: $height-header-xxs;
		height: 309px;
		width: 171px;
		padding: 34px 32px 21px 32px;
		background-color: $color-pr1;
	}

	&__menu.menu__active {
		display: block;
		z-index: $z-index-modal;
	}

	// .header__social

	&__social {
		grid-area: social;
		margin-top: 10px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		font-size: 14px;

		span {
			margin: 0 4px;
			cursor: pointer;

			&:active {
				text-decoration: none;
				color: $color-white;
			}

			&:hover {
				color: $color-pr4;
			}

			&:active,
			&:focus,
			&:focus-within {
				color: $color-red6;
			}
		}

	}

	// .header__phone

	&__phone {
		grid-area: phone;
		margin-top: 4px;
		font: bold 14px $Gilroy;
		color: $color-pr4;
		cursor: pointer;
	}

	// .header__app-shop

	&__app-shop {
		display: none;

		a:link,
		a:visited,
		a:hover,
		a:active {
			text-decoration: none;
			color: $color-white;
		}

		a:hover,
		a:focus {
			.icon-svg {
				stroke: $color-pr4;
			}
		}

		a:active {
			.icon-svg {
				stroke: $color-red6;
			}
		}
	}

	&__app-shop.app-shop__active {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: $height-header-xxs + 197px;
		left: 32px;
		row-gap: 20px;
		z-index: $z-index-modal;

	}

}

.icon-menu {
	display: block;
	font-size: 14px;
	padding: 12px 12px 12px 0px;
}

.logo-lion {
	height: 30px;
	aspect-ratio: 63/88;
}

.logo-text {
	height: 28px;
	aspect-ratio: 7/3;
}

.menu {

	// .menu__item

	&__item {
		font: normal 14px $Gilroy;
		line-height: 17px;
	}

	&__item:not(:first-child) {
		margin-top: 8px;
	}

	// .menu__link
	a:link,
	a:visited,
	a:hover,
	a:active {
		text-decoration: none;
		color: $color-white;

	}

	a:hover {
		color: $color-pr4;
	}

	a:active,
	a:focus {
		color: $color-red6;
	}

}

.icon-svg {
	height: 32px;
	stroke: $color-white;

	&:hover,
	&:focus {
		stroke: $color-pr4;
	}

	&:active {
		stroke: $color-red6;
	}

	@include media-xs {
		height: 32px;
	}

	@include media-sm {
		height: 24px;
	}

	@include media-md {
		height: 30px;
	}

	@include media-lg {
		height: 45px;
	}
}

//**** XS container (410)  ********//////////

@include media-xs {
	.header__container {
		width: $mq-xs-container;
		height: $height-header-xs;
	}

	.header__menu {
		top: $height-header-xs;
	}

	.header__app-shop.app-shop__active {
		top: $height-header-xs + 197px;
	}

	.logo-lion {
		height: 36px;
	}

	.logo-text {
		height: 34px;
	}

	.header__phone {
		margin-top: 6px;
		font-size: 18px;
	}
}

//**** SM container (768)  ********//////////

@include media-sm {
	.header {
		background-image: none;

		&__container {
			background-image: linear-gradient(180deg, #ffffff40, #ffffff40);
			background-repeat: no-repeat;
			background-size: 60% 1px;
			background-position: center right;

			width: $mq-sm-container;
			height: $height-header-sm;

			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 32px 47px;
			grid-template-areas:
				'logo . social'
				'logo phone app';
		}

		// .header__logo

		&__logo {
			grid-area: logo;
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		// .header__phone

		&__phone {
			justify-self: end;
			margin-top: 9px;
			font-size: 22px;
		}

		// .header__app-shop

		&__app-shop {
			grid-area: app;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
		}

	}

	.logo-lion {
		height: 45px;
	}

	.logo-text {
		height: 42px;
	}

	.header__menu {
		// top: $height-header-xs;

		top: $height-header-sm;
		left: 0px;
		height: 249px;
		padding: 32px;
	}

	.menu {

		// .menu__item

		&__item:not(:first-child) {
			margin-top: 16px;
		}

	}

	.apple-shop,
	.google-shop {
		margin-left: 15px;

		img {
			height: 24px;
		}
	}

}

//**** MD container (1000)  ********//////////

@include media-md {
	.header {

		&__container {
			width: $mq-md-container;
			height: $height-header-md;

			background-position: 100% 45%;
			background-size: 72% 1px;


			grid-template-columns: repeat(10, 1fr);
			grid-template-rows: 45% 55%;
			grid-template-areas:
				'logo logo . menu menu menu menu menu menu social'
				'logo logo . phone phone phone . . app app';
			align-items: center;
		}

		// .header__menu

		&__menu {
			grid-area: menu;

			margin: 0;
			margin-left: -10px;
			padding: 0;
			height: auto;
			width: auto;
			display: block;
			position: unset;
			background-color: inherit;
		}

		// .header__social

		&__social {
			font-size: 16px;

			span {
				margin: 0 5px;
			}
		}

		// .header__phone

		&__phone {
			margin: 0px;
			margin-left: -10px;
			font-size: 24px;
			justify-self: start;
		}

		&__app-shop {
			margin-left: -30px;
		}

	}

	.icon-menu {
		display: none;
	}

	.logo-lion {
		height: 60px;
	}

	.logo-text {
		height: 56px;
	}

	.menu {

		// .menu__body

		&__body {
			display: flex;
			flex-direction: row;
		}


		// .menu__item
		&__item {
			margin-right: 16px;
		}

		&__item:not(:first-child) {
			margin-top: 0;
		}

	}

	.apple-shop,
	.google-shop {
		img {
			height: 30px;
		}
	}
}


//**** LG container (1280)  ********//////////

@include media-lg {
	.header {

		&__container {
			width: $mq-lg-container;
			height: $height-header-lg;

			grid-template-areas:
				'logo logo . menu menu menu menu menu menu social'
				'logo logo . phone phone phone . app app app';
			align-items: center;
		}

		// .header__phone

		&__phone {
			font-size: 32px;
		}


	}

	.logo-lion {
		height: 90px;
	}

	.logo-text {
		height: 84px;
	}

	.menu {

		// .menu__item
		&__item {
			margin-right: 24px;
			font-size: 16px;
		}

	}

	.apple-shop,
	.google-shop {
		img {
			height: 45px;
		}
	}
}

//**** XL container (1920)  ********//////////

@include media-xl {
	.header {

		&__container {
			width: $mq-xl-container;
			height: $height-header-xl;
			grid-template-rows: 50% 50%;
		}

		// .header__phone

		&__phone {
			font-size: 36px;
		}
	}

	// .menu__item
	.menu__item {
		font-size: 18px;
	}
}