.header {
	margin: 0 auto;
	width: $mq-xxs-container;
	height: $height-header-xxs;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		'logo social'
		'logo phone';

	background-color: $color-pr2;
	color: $color-white;

	// .header__menu-bar

	&__menu-bar {}

	// .header__logo

	&__logo {
		grid-area: logo;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	// .header__menu

	&__menu {}

	// .header__social

	&__social {
		grid-area: social;
		border-bottom: 1px solid rgba($color: #fff, $alpha: 0.25);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		font-size: 14px;

		span {
			margin: 0 2px;
		}
	}

	// .header__phone

	&__phone {
		grid-area: phone;
		margin-top: 4px;
		font: bold 14px $Gilroy;
		color: $color-pr4;
	}

	// .header__app-shop

	&__app-shop {
		display: none;
	}

	&__app-shop.app-shop__active {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: $height-header-xxs + 197px;
		left: 32px;
		row-gap: 20px;

		a {}
	}

}

.icon-menu {
	display: block;
	font-size: 14px;
	margin-right: 12px;
}

.logo-lion {
	height: 30px;
	color: $color-white;
}

.logo-text {
	height: 28px;
}

.menu {

	// .menu__body

	&__body {
		position: absolute;
		top: $height-header-xxs;
		display: none;
		height: 309px;
		width: 171px;
		padding: 34px 32px 21px 32px;
		background-color: $color-pr1;
	}

	&__body.menu__active {
		display: block;

	}

	// .menu__item

	&__item:not(:first-child) {
		margin-top: 8px;
	}

	// .menu__link
	a:link,
	a:visited,
	a:hover,
	a:active {
		font: normal 14px $Gilroy;
		line-height: 17px;
		text-decoration: none;
		color: $color-white;
	}

	a:hover {
		color: $color-pr4;
	}

	a:active {
		color: $color-red6;
	}

	&__link {}
}

.apple-shop {
	width: 106px;
}

.google-shop {
	width: 106px;
}