.banner {
	outline: 1px solid red;
	background-image: url('../img/main/banner_320.webp');
	background-repeat: no-repeat;
	background-size: cover;
	height: $height-banner-xxs;
	position: relative;
	padding-top: 40px;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: $color-pr1;
		opacity: 0.8;
	}

	// .banner__container

	&__container {
		outline: 1px solid red;

		margin: 0 auto;
		position: relative;
		width: $mq-xxs-container;
		height: 100%;
	}

	// .banner__header

	&__header {
		text-transform: uppercase;
		text-align: center;

	}

	// .banner__button

	&__button {
		position: absolute;
		top: 0;
		right: 0;
		height: 24px;
		width: 24px;
		border-radius: 2.4px;
		color: $color-pr1;
		background-color: $color-pr4;
		text-align: center;

		&:focus {
			background-color: $color-white;
		}

		&:active {
			background-color: $color-red6;
		}

		span.icon-menu {
			display: block;
			padding: 7px 5px;
			font-size: 10px;
		}

	}

	// .banner__search

	&__search {}

	// .banner__slider

	&__slider {
		height: 100%;
	}
}

.header {

	// .header__hero

	&__hero {
		font: 900 $font-size-hero-xs $Gilroy;
		letter-spacing: 0.1em;
		line-height: 1.3em;
		color: transparent;
		-webkit-text-stroke: 0.74px $color-pr4;
	}

	// .header__subhero

	&__subhero {
		display: block;
		margin: 0 auto;
		margin-bottom: 8px;
		font: 400 $font-size-subhero-xs $Gilroy;
		line-height: 1.17em;
		letter-spacing: 0.1em;
		color: $color-white;
	}
}

.search {

	// .search__modal

	&__modal {
		display: none;
		position: absolute;
		top: 10px;
		bottom: 10px;
		right: 10px;
		left: 10px;
		z-index: $z-index-modal;
		padding: 24px;
		border-radius: 5px;
		background-color: $color-pr2;
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		padding: 14px;
		height: 42px;
		width: 42px;
		text-align: center;
		font-size: 14px;
		color: $color-white;
		opacity: 0.75;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}

		&::before,
		&::after {
			position: absolute;
			content: ' ';
			height: 14px;
			width: 1px;
			background-color: $color-white;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}

	// .search__form

	&__form {
		margin: 12px auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// search__header
	&__header {
		padding: 8px;
		font: bold 18px $Gilroy;
		text-transform: uppercase;
		color: $color-pr4;
	}

	// search__select
	&__select select {
		-webkit-appearance: none;
		appearance: none;
		margin: 12px auto;
		padding: 7px 20px 12px 20px;
		width: 222px;
		height: 45px;
		border-radius: 5px;
		font: 400 16px $Gilroy;
		background-color: $color-pr3;
		color: $color-white;
		mix-blend-mode: normal;
		opacity: 0.8;
		cursor: pointer;

		&:active {
			color: $color-red6;
		}
	}

	&__select {
		position: relative;

		span {
			position: absolute;
			top: 30px;
			right: 20px;
		}

		span:focus {
			color: $color-pr4;
		}

		span:active {
			color: $color-red6;
		}

	}

	&__submit {
		margin: 12px auto;
		width: 200px;
		height: 45px;
		border-radius: 5px;
		font: bold 18px $Gilroy;
		text-align: center;
		text-transform: uppercase;
		background-color: transparent;
		color: $color-white;
		border: 1px solid $color-pr4;
	}

	&__submit:focus {
		background-color: $color-pr4-op25;
	}

	&__submit:active {
		background-color: $color-red6-op25;
		border-color: $color-red6-op25;
	}

}

.slider {

	// .slider__navigation

	&__navigation {
		margin: 0 auto;
		margin-top: 15px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 45px;
		color: $color-white;
	}

	// .slider__left

	&__left::before {
		display: inline-block;
		transform: rotate(180deg);
	}

	// .slider__center

	&__center {
		display: inline-block;
		margin: 0 27px;
		height: 5px;
		width: 5px;
		border-radius: 50%;
		background-color: $color-white;
	}

	// .slider__right

	&__right {
		display: inline-block;
	}

	&__left:hover,
	&__right:hover {
		color: $color-pr4;
	}

	&__left:active,
	&__right:active {
		color: $color-red6;
	}

	// .slider__body

	&__body {
		margin: 0 auto;
		margin-top: 10px;
		height: 200px;
		position: relative;
	}

	&__slide {
		display: none;
		transition: all 0.5s linear;
	}

	.slide__active {
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		img {
			height: 200px;
			width: min-content;
		}

		z-index: 100;
	}

	.slide__next,
	.slide__prev {
		display: block;
		position: absolute;
		top: 6%;

		img {
			height: 175px;
		}

		z-index: 10;
	}

	.slide__next {
		left: 50%;
	}

	.slide__prev {
		right: 50%;
	}

}

.arrow {
	@include arrow($color-white, 1px, 4px);
	mix-blend-mode: normal;
	opacity: 0.8;
}


.down {
	transform: rotate(45deg);
}

.right {
	transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
}

//**** XS container (410)  ********//////////

@include media-xs {
	.banner {
		background-image: url('../img/main/banner_#{stripUnit($mq-xs)}.webp');
		height: $height-banner-xs;

		&__container {
			width: $mq-xs-container;
		}


	}

	.search {

		// .search__modal

		&__modal {
			top: 50%;
			left: 50%;
			margin-top: -200px;
			margin-left: -200px;
			height: 396px;
			width: 400px;
		}

		// search__select
		&__select select {
			width: 300px;
		}

		&__submit {
			width: 300px;
		}

	}

	.slider {

		// .slider__navigation

		&__navigation {
			margin-top: 4px;
			justify-content: flex-end;
		}

		// .slider__body

		&__body {
			margin-top: 30px;
			height: 247px;
		}

		.slide__active {

			img {
				height: 247px;
			}
		}

		.slide__next,
		.slide__prev {

			img {
				height: 217px;
			}

		}

	}
}

//**** SM container (768)  ********//////////

@include media-sm {
	.banner {
		background-image: url('../img/main/banner_#{stripUnit($mq-sm)}.webp');
		height: $height-banner-sm;
		padding-top: 80px;

		&__container {
			width: $mq-sm-container;
		}

		&__slider {
			margin-top: 10px;
		}
	}

	.header {

		// .header__hero

		&__hero {
			font-size: $font-size-hero-sm;
			-webkit-text-stroke: 1px $color-pr4;
		}

		// .header__subhero

		&__subhero {
			margin-bottom: 16px;
			font-size: $font-size-hero-sm / 2;
		}
	}


	.slider {
		// .slider__body

		&__body {
			margin-top: 0px;
		}

		.slide__active {
			img {
				height: 247px;
			}

		}

		.slide__next2,
		.slide__prev2 {
			display: block;
			position: absolute;
			top: 12%;
			z-index: 5;

			img {
				height: 175px;
			}

		}

		.slide__next2 {
			right: 0px;
		}

		.slide__prev2 {
			left: 0px;
		}

	}

}

//**** MD container (1000)  ********//////////

@include media-md {
	.banner {
		background-image: url('../img/main/banner_#{stripUnit($mq-md)}.webp');
		height: $height-banner-md;

		&__container {
			width: $mq-md-container;
		}

		&__slider {
			margin-top: 30px;
		}
	}

	.slider {


		.slide__active {

			img {
				height: 320px;
				width: auto;
			}

		}

		.slide__next,
		.slide__prev {

			img {
				height: 282px;
			}

		}

		.slide__next2,
		.slide__prev2 {

			img {
				height: 227px;
			}

		}

	}
}

//**** LG container (1280)  ********//////////

@include media-lg {
	.banner {
		background-image: url('../img/main/banner_#{stripUnit($mq-lg)}.webp');
		height: $height-banner-lg;
		padding-top: 100px;

		&__container {
			width: $mq-lg-container;
		}

		&__slider {
			margin-top: 40px;
		}
	}

	.header {

		// .header__hero

		&__hero {
			font-size: $font-size-hero-lg;
		}

		// .header__subhero

		&__subhero {
			margin-bottom: 24px;
		}
	}

	.slider {


		.slide__active {

			img {
				height: 388px;
			}

		}

		.slide__next,
		.slide__prev {

			img {
				height: 342px;
			}

		}

		.slide__next2,
		.slide__prev2 {

			img {
				height: 274px;
			}

		}

	}
}

//**** XL container (1920)  ********//////////

@include media-xl {
	.banner {
		background-image: url('../img/main/banner_#{stripUnit($mq-xl)}.webp');
		height: $height-banner-xl;
		padding-top: 132px;

		&__container {
			width: $mq-xl-container;
		}
	}

	.header {

		// .header__hero

		&__hero {
			font-size: $font-size-hero-xl;
		}

		// .header__subhero

		&__subhero {
			margin-bottom: 16px;
			font-size: $font-size-hero-xl / 2;
		}
	}

	.slider {


		.slide__active {

			img {
				height: 462px;
			}

		}

		.slide__next,
		.slide__prev {

			img {
				height: 407px;
			}

		}

		.slide__next2,
		.slide__prev2 {

			img {
				height: 326px;
			}

		}

	}
}