@import './main_banner';
@import './main_contacts';
@import './main_rent_type';
@import './main_car_order';
@import './main_rent_terms';
@import './main_testimonial';

//*****common  components *****************////

.arrow {
	@include arrow($color-white, 1px, 4px);
	mix-blend-mode: normal;
	opacity: 0.8;
}


.down {
	transform: rotate(45deg);
}

.right {
	transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
}

//********* headers ***********************************//

.section__header {
	h2 {
		margin: 0 auto;
		text-align: center;

		span {
			margin: 8px 0px;
		}
	}
}

.header {
	// .header__subtitle

	&__subtitle {
		display: block;
		font: 400 14px $Gilroy;
		line-height: 120%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $color-white;
	}

	// .header__title

	&__title {
		display: block;
		font: 900 24px/31px $Gilroy;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $color-pr4;
	}

}


//**** SM container (768)  ********//////////

@include media-sm {

	.header {
		&__subtitle {
			font-size: 18px;
		}

		&__title {
			font-size: 36px;
			line-height: 46px;
		}
	}

}

//**** LG container (1280)  ********//////////

@include media-lg {

	.header {
		&__subtitle {
			font-size: 24px;
		}

		&__title {
			font-size: 48px;
			line-height: 61px;
		}
	}

}

//********* buttons ***********************************//

// .contacts__call

.button__link {
	// margin: 19px 0 12px 0;
	width: 170px;
	height: 37px;
	display: block;
	background-color: transparent;
	border: 0.76px solid $color-white;
	border-radius: 5px;
	font: 700 13px $Gilroy;
	text-transform: uppercase;
	line-height: 120%;
	color: $color-white;
	cursor: pointer;

	&:focus {
		border-color: $color-pr4;
		background-color: $color-pr4-op25;
	}

	&:active {
		border-color: $color-red6;
		background-color: $color-red6-op25;
	}

	@include media-sm {

		width: 222px;
		height: 48px;
		border: 1px solid $color-white;
		border-radius: 6px;
		font-size: 18px;

	}
}