.rent-terms {
	// padding: 40px 0;
	background: $gradient-section, url('../img/main/road_320.webp');
	background-repeat: no-repeat;
	background-size: cover;
	color: $color-white;
	font: 400 13px $Gilroy;

	// .rent-terms__inner
	&__inner {
		margin: 0 auto;
		margin-top: 49px;
		// width: $mq-xxs-container;
	}

	// .rent-terms__table

	&__table {
		position: relative;
		margin-left: -18px;
		background-color: $color-pr3;

		&::after {
			content: "";
			width: 298px;
			height: 276px;
			position: absolute;
			top: -16px;
			left: 21px;
			border: 1px solid $color-pr4;
		}

		width: 312px;
		height: 276px;
		padding-right: 8px;
		padding: 18px 28px 31px 34px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		column-gap: 15px;
	}

	// .rent-terms__table-item
	&__table-item {
		position: relative;
		padding: 0 4px 16px 25px;
		border-right: 1px solid #ffffff7F;

		&:nth-child(2n) {
			border-right: none;
		}
	}

	&__table-text {
		display: block;
		margin-top: 8px;
		font-size: 12px;
		line-height: 120%;
		letter-spacing: 0.05em;
	}

	&__table-icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 18px;
	}

	// .rent-terms__table-subtitle
	&__table-subtitle {
		font-weight: 700;
		font-size: 14px;
		line-height: 120%;
		text-transform: uppercase;
	}

	// .rent-terms__list
	&__list {
		margin: 0 auto;
		margin-top: 24px;
		width: $mq-xxs-container;
		color: $color-white;
	}
}

.accordeon {

	// .accordeon__item
	&__item {
		position: relative;
		padding: 16px 0;
		border-bottom: 1px solid #ffffff32;

		.arrow {
			float: right;
			margin: 0.5em 0.5em 0 0;
		}
	}

	// .accordeon__title
	&__title {
		font: 700 14px $Gilroy;
		line-height: 120%;
		text-transform: uppercase;
	}

	// .accordeon__sublist
	&__sublist {
		display: none;
		margin-top: 16px;
		max-height: 0;
	}

	// .accordeon__subitem
	&__subitem {
		margin-top: 16px;
		margin-left: 23px;
		position: relative;

		font: 400 13px $Gilroy;
		line-height: 140%;
		letter-spacing: 0.05em;

		&::before {
			content: "";
			position: absolute;
			top: 8px;
			left: -23px;
			width: 15px;
			border-top: 1px solid $color-white;
		}
	}

	// .accordeon__active
	&__active {

		.accordeon__sublist {
			display: block;
			transition: all 0.5s ease-in-out;
		}

		.arrow {
			transform: rotate(-135deg);
		}
	}
}

//**** XS container (410)  ********//////////

@include media-xs {

	.rent-terms {
		background: $gradient-section, url('../img/main/road_410.webp');

		// .rent-terms__inner
		&__inner {
			margin-top: 40px;
			// width: $mq-xs-container;
		}

		// .rent-terms__table
		&__table {
			width: 410px;
			height: 298px;

			&::after {
				width: 389px;
				height: 298px;
				top: -16px;
				left: 21px;
			}
		}

		// .rent-terms__table-item
		&__table-item {
			padding-left: 25px;
		}

		&__table-text {
			margin-top: 8px;
			font-size: 14px;
		}

		&__list {
			width: $mq-xs-container;
		}
	}

}


//**** SM container (768)  ********//////////

@include media-sm {

	.rent-terms {
		// padding: 80px 0;
		background: $gradient-section, url('../img/main/road_768.webp');

		// .rent-terms__inner
		&__inner {
			margin-top: 84px;
			// width: $mq-sm-container;
		}

		// .rent-terms__table
		&__table {

			width: 721px;
			height: 262px;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			column-gap: 36px;

			&::after {
				width: 697px;
				height: 262px;
				top: -24px;
				left: 24px;
			}
		}

		// .rent-terms__table-item
		&__table-item {
			padding-left: 25px;

			&:nth-child(2n) {
				border-right: 1px solid #ffffff7F;
			}

			&:nth-child(3n) {
				border-right: none;
			}
		}

		&__table-text {
			font-size: 16px;
			line-height: 140%;
			margin-top: 8px;
		}

		&__table-subtitle {
			font-size: 18px;
		}

		&__list {
			width: $mq-sm-container;
		}
	}

	.accordeon {

		// .accordeon__subitem
		&__subitem {
			font-size: 16px;
			line-height: 160%;
		}
	}
}


//**** MD container (1000)  ********//////////

@include media-md {

	.rent-terms {
		background: $gradient-section, url('../img/main/road_1000.webp');

		// .rent-terms__inner
		&__inner {
			margin-top: 60px;
			// width: $mq-md-container;

			display: flex;
			flex-direction: row-reverse;
			align-items: center;
		}

		// .rent-terms__table
		&__table {
			margin-left: 25px;
			padding: 43px 48px;
			width: 330px;
			height: 658px;
			display: flex;
			flex-direction: column;

			&::after {
				width: 306px;
				height: 706px;
			}
		}

		// .rent-terms__table-item

		&__table-item {
			padding: 0;
			padding-left: 32px;
			margin-bottom: 42px;
			border-right: none;

			&:nth-child(2n) {
				border-right: none;
			}

		}

		&__table-text {
			font-size: 16px;
			margin-top: 8px;
		}

		&__table-subtitle {
			font-size: 18px;
		}

		&__list {
			margin-top: 0px;
			width: 612px;
		}
	}

}


//**** LG container (1280)  ********//////////

@include media-lg {

	.rent-terms {
		// padding: 100px 0;
		background: $gradient-section, url('../img/main/road_1280.webp');

		// .rent-terms__inner
		&__inner {
			margin-top: 80px;
			// width: $mq-lg-container;
		}

		// .rent-terms__table
		&__table {
			width: 391px;

			&::after {
				width: 391px;
			}
		}

		&__list {
			width: 697px;
		}
	}

}


//**** XL container (1920)  ********//////////

@include media-xl {

	.rent-terms {
		// padding: 140px 0;
		background: $gradient-section, url('../img/main/road_1920.webp');

		// .rent-terms__inner
		&__inner {
			// width: $mq-xl-container;
			justify-content: space-between;
		}

		// .rent-terms__table
		&__table {
			margin-left: 179px;
		}

		&__list {
			width: 870px;
		}
	}
}