//*****banner section *****************////
@import './main_search_modal';
@import './main_slider_banner';

.banner {
	background-image: url('../img/main/banner_320.webp');
	background-repeat: no-repeat;
	background-size: cover;
	height: $height-banner-xxs;
	position: relative;
	padding-top: 40px;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: $color-pr1;
		opacity: 0.8;
	}

	// .banner__container
	&__container {
		position: relative;
		height: 100%;
	}

	// .banner__button
	&__button {
		position: absolute;
		top: 0;
		right: 0;
		height: 24px;
		width: 24px;
		border-radius: 2.4px;
		color: $color-pr1;
		background-color: $color-pr4;
		text-align: center;

		&:focus, &:focus-within {
			background-color: $color-white;
		}

		&:active {
			background-color: $color-red6;
		}

		span.icon-menu {
			display: block;
			padding: 7px 5px;
			font-size: 10px;
		}

	}

	// .banner__slider
	&__slider {
		height: 100%;
	}
}

//**** XS container (410)  ********//////////

@include media-xs {
	.banner {
		background-image: url('../img/main/banner_#{stripUnit($mq-xs)}.webp');
		height: $height-banner-xs;
	}
}

//**** SM container (768)  ********//////////

@include media-sm {
	.banner {
		background-image: url('../img/main/banner_#{stripUnit($mq-sm)}.webp');
		height: $height-banner-sm;
		padding-top: 80px;

		&__slider {
			margin-top: 10px;
		}
	}

}

//**** MD container (1000)  ********//////////

@include media-md {
	.banner {
		background-image: url('../img/main/banner_#{stripUnit($mq-md)}.webp');
		height: $height-banner-md;

		&__slider {
			margin-top: 30px;
		}
	}

}

//**** LG container (1280)  ********//////////

@include media-lg {
	.banner {
		background-image: url('../img/main/banner_#{stripUnit($mq-lg)}.webp');
		height: $height-banner-lg;
		padding-top: 100px;

		&__slider {
			margin-top: 40px;
		}
	}

}

//**** XL container (1920)  ********//////////

@include media-xl {
	.banner {
		background-image: url('../img/main/banner_#{stripUnit($mq-xl)}.webp');
		height: $height-banner-xl;
		padding-top: 132px;
	}
}