.rent-terms {
	padding: 40px 0;
	background: $gradient-section, url('../img/main/road_320.webp');
	background-repeat: no-repeat;
	background-size: cover;
	// height: $height-road-xxs;
	font: 400 13px $Gilroy;
	color: $color-white;

	// .rent-terms__inner

	&__inner {
		margin: 0 auto;
		margin-top: 49px;
		width: $mq-xxs-container;
	}

	// .rent-terms__table

	&__table {
		position: relative;
		margin-left: -18px;
		background-color: $color-pr3;

		&::after {
			content: "";
			width: 298px;
			height: 276px;
			position: absolute;
			top: -16px;
			left: 21px;
			border: 1px solid $color-pr4;
		}

		&::before {
			content: "";
			position: absolute;
			z-index: 2;
			top: 22px;
			bottom: 29px;
			left: 52%;
			border-left: 1px solid #ffffff7F;
			transform: translate(-50%);
		}

		width: 312px;
		height: 276px;
		padding-right: 8px;
		padding: 18px 28px 31px 34px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 15px;

	}

	// .rent-terms__table-item

	&__table-item {
		position: relative;
		padding-left: 25px;
	}

	&__table-text {
		display: block;
		margin-top: 8px;
	}

	&__table-icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 18px;
	}

	// .rent-terms__table-subtitle

	&__table-subtitle {
		font-weight: 700;
		font-size: 14px;
		line-height: 120%;
		text-transform: uppercase;
	}

	// .rent-terms__list

	&__list {
		margin: 0 auto;
		margin-top: 24px;
		width: $mq-xxs-container;
		color: $color-white;
	}
}

.accordeon {

	// .accordeon__body

	&__body {}

	// .accordeon__item

	&__item {
		position: relative;
		padding: 16px 0;
		border-bottom: 1px solid #ffffff32;
		
		.arrow {
			float: right;
			margin: 0.5em 0.5em 0 0;
		}
	}

	// .accordeon__title

	&__title {
		font: 700 14px $Gilroy;
		line-height: 120%;
		text-transform: uppercase;
	}

	// .accordeon__sublist

	&__sublist {
		display: none;
		margin-top: 16px;
	}

	// .accordeon__subitem

	&__subitem {
		margin-top: 16px;
		margin-left: 23px;
		position: relative;

		font: 400 13px $Gilroy;
		line-height: 120%;
		letter-spacing: 0.05em;

		&::before {
			content: "";
			position: absolute;
			top: 8px;
			left: -23px;
			width: 15px;
			border-top: 1px solid $color-white;
		}
	}

	// .accordeon__active

	&__active {

		.accordeon__sublist {
			display: block;
		}

		.arrow {
			transform: rotate(-135deg);
		}

	}
}

//**** XS container (410)  ********//////////

@include media-xs {}


//**** SM container (768)  ********//////////

@include media-sm {}


//**** MD container (1000)  ********//////////

@include media-md {}


//**** LG container (1280)  ********//////////

@include media-lg {}


//**** XL container (1920)  ********//////////

@include media-xl {}