.testimonial {
	position: relative;
	background-image: linear-gradient(to right, $color-pr2 190px, $color-pr1 190px);
	height: $height-testimoinal-xxs;
	padding: 40px 0;
	color: $color-white;
	// .testimonial__inner

	&__inner {
		width: $mq-xxs-container;
		position: relative;
		margin: 0 auto;
		margin-top: 24px;
		padding-top: 58px;
	}

	// .testimonial__userlist

	&__userlist {
		position: absolute;
		top: 0;
		left: 0;
		width: 1242px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	// .testimonial__usercard

	&__usercard {
		width: 221px;
		height: 58px;
	}

	// .testimonial__userpic

	&__userpic {
		margin-right: 8px;
		height: 58px;
		width: 58px;
		border-radius: 50%;
		vertical-align: middle;
		float: left;
	}

	// .testimonial__username

	&__username {
		display: block;
		padding: 4px 0;
		font: 700 14px $Gilroy;
		line-height: 120%;
		text-transform: uppercase;
	}

	// .testimonial__userinfo

	&__userinfo {
		font: 400 14px $Gilroy;
		line-height: 160%;
		letter-spacing: 0.05em;
		mix-blend-mode: normal;
		opacity: 0.8;
	}

	// .testimonial__detail

	&__detail {
		margin-top: 24px;
		position: relative;
		width: 100%;
	}

	// .testimonial__navigation

	&__navigation {
		position: absolute;
		top: 0;
		right: 0;
		width: 190px;
		height: 45px;
		font-size: 45px;
		display: flex;
		align-items:center;
		justify-content: space-evenly;
	}

	// .testimonial__navigation-prev

	&__navigation-prev {
		// display: inline-block;
		opacity: 0.3;
	}

	&__navigation-prev::before {
		display: inline-block;
		transform: rotate(180deg);
	}

	// .testimonial__navigation-center

	&__navigation-center {
		// margin-top: 50%;
		// display: inline-block;
		// position: relative;
		opacity: 0.3;
		width: 60px;
		height: 1px;
		background-color: $color-white;
		// border-bottom: 1px solid $color-white;

		// &::before {
		// 	content: "";
		// 	position: absolute;
		// width: 60px;
		// top: 50%;
		// border-top: 1px solid $color-white;

		// }
	}

	// .testimonial__navigation-next

	&__navigation-next {
		display: inline-block;
		opacity: 0.3;
	}
	&__navigation-next::before {
		// display: inline-block;
	}

	// .testimonial__detailed-username

	&__detailed-username {
		font: 700 18px $Gilroy;
		line-height: 120%;
		letter-spacing: 0.05em;
	}

	// .testimonial__detailed-text

	&__detailed-text {
		margin-top: 24px;
	}

	// .testimonial__detailed-raiting

	&__detailed-raiting {}

	// .testimonial__detailed-expand

	&__detailed-expand {}

	// .testimonial__video

	&__video {}
}


//**** XS container (410)  ********//////////

@include media-xs {

	.testimonial {
		height: $height-testimoinal-xs;

		// .testimonial__inner

		&__inner {
			width: $mq-xs-container;
		}

		// .testimonial__userlist

		&__userlist {}

		// .testimonial__usercard

		&__usercard {}

		// .testimonial__userpic

		&__userpic {}

		// .testimonial__username

		&__username {}

		// .testimonial__userinfo

		&__userinfo {}

		// .testimonial__detail

		&__detail {}

		// .testimonial__navigation

		&__navigation {}

		// .testimonial__navigation-prev

		&__navigation-prev {}

		// .testimonial__navigation-center

		&__navigation-center {}

		// .testimonial__navigation-next

		&__navigation-next {}

		// .testimonial__detailed-username

		&__detailed-username {}

		// .testimonial__detailed-text

		&__detailed-text {}

		// .testimonial__detailed-raiting

		&__detailed-raiting {}

		// .testimonial__detailed-expand

		&__detailed-expand {}

		// .testimonial__video

		&__video {}
	}


}


//**** SM container (768)  ********//////////

@include media-sm {

	.testimonial {
		height: $height-testimoinal-sm;
		padding: 80px 0;
		background-image: linear-gradient(to right, $color-pr2 250px, $color-pr1 250px);

		// .testimonial__inner

		&__inner {
			margin-top: 60px;
			width: $mq-sm-container;
		}

		// .testimonial__userlist

		&__userlist {}

		// .testimonial__usercard

		&__usercard {
			margin-right: 83px;
		}

		// .testimonial__userpic

		&__userpic {}

		// .testimonial__username

		&__username {
			font-size: 18px;
		}

		// .testimonial__userinfo

		&__userinfo {
			font-size: 16px;
		}

		// .testimonial__detail

		&__detail {
			margin-top: 80px;
			width: 300px;

		}

		// .testimonial__navigation

		&__navigation {}

		// .testimonial__navigation-prev

		&__navigation-prev {}

		// .testimonial__navigation-center

		&__navigation-center {}

		// .testimonial__navigation-next

		&__navigation-next {}

		// .testimonial__detailed-username

		&__detailed-username {
			font-size: 24px;
		}

		// .testimonial__detailed-text

		&__detailed-text {}

		// .testimonial__detailed-raiting

		&__detailed-raiting {}

		// .testimonial__detailed-expand

		&__detailed-expand {}

		// .testimonial__video

		&__video {}
	}


}


//**** MD container (1000)  ********//////////

@include media-md {

	.testimonial {
		height: $height-testimoinal-md;

		// .testimonial__inner

		&__inner {
			width: $mq-md-container;
		}

		// .testimonial__userlist

		&__userlist {}

		// .testimonial__usercard

		&__usercard {}

		// .testimonial__userpic

		&__userpic {}

		// .testimonial__username

		&__username {}

		// .testimonial__userinfo

		&__userinfo {}

		// .testimonial__detail

		&__detail {
			width: 375px;
		}

		// .testimonial__navigation

		&__navigation {}

		// .testimonial__navigation-prev

		&__navigation-prev {}

		// .testimonial__navigation-center

		&__navigation-center {}

		// .testimonial__navigation-next

		&__navigation-next {}

		// .testimonial__detailed-username

		&__detailed-username {}

		// .testimonial__detailed-text

		&__detailed-text {}

		// .testimonial__detailed-raiting

		&__detailed-raiting {}

		// .testimonial__detailed-expand

		&__detailed-expand {}

		// .testimonial__video

		&__video {}
	}

}


//**** LG container (1280)  ********//////////

@include media-lg {

	.testimonial {
		height: $height-testimoinal-lg;
		padding: 100px 0;

		// .testimonial__inner

		&__inner {
			margin-top: 80px;
			width: $mq-lg-container;
		}

		// .testimonial__userlist

		&__userlist {
			justify-content: space-between;
		}

		// .testimonial__usercard

		&__usercard {}

		// .testimonial__userpic

		&__userpic {}

		// .testimonial__username

		&__username {}

		// .testimonial__userinfo

		&__userinfo {}

		// .testimonial__detail

		&__detail {
			width: 488px;
		}

		// .testimonial__navigation

		&__navigation {}

		// .testimonial__navigation-prev

		&__navigation-prev {}

		// .testimonial__navigation-center

		&__navigation-center {}

		// .testimonial__navigation-next

		&__navigation-next {}

		// .testimonial__detailed-username

		&__detailed-username {
			font-size: 36px;
		}

		// .testimonial__detailed-text

		&__detailed-text {}

		// .testimonial__detailed-raiting

		&__detailed-raiting {}

		// .testimonial__detailed-expand

		&__detailed-expand {}

		// .testimonial__video

		&__video {}
	}

}


//**** XL container (1920)  ********//////////

@include media-xl {

	.testimonial {
		height: $height-testimoinal-xl;
		padding: 140px 0;

		// .testimonial__inner

		&__inner {
			width: $mq-xl-container;
		}

		// .testimonial__userlist

		&__userlist {}

		// .testimonial__usercard

		&__usercard {}

		// .testimonial__userpic

		&__userpic {}

		// .testimonial__username

		&__username {}

		// .testimonial__userinfo

		&__userinfo {}

		// .testimonial__detail

		&__detail {
			width: 630px;
		}

		// .testimonial__navigation

		&__navigation {}

		// .testimonial__navigation-prev

		&__navigation-prev {}

		// .testimonial__navigation-center

		&__navigation-center {}

		// .testimonial__navigation-next

		&__navigation-next {}

		// .testimonial__detailed-username

		&__detailed-username {}

		// .testimonial__detailed-text

		&__detailed-text {}

		// .testimonial__detailed-raiting

		&__detailed-raiting {}

		// .testimonial__detailed-expand

		&__detailed-expand {}

		// .testimonial__video

		&__video {}
	}

}