.testimonial {
	position: relative;
	background-image: linear-gradient(to right, $color-pr2 190px, $color-pr1 190px);
	height: $height-testimoinal-xxs;
	padding: 40px 0;
	color: $color-white;
	// .testimonial__inner

	&__inner {
		width: $mq-xxs-container;
		position: relative;
		margin: 0 auto;
		margin-top: 24px;
		padding-top: 58px;
	}

	// .testimonial__userlist

	&__userlist {
		position: absolute;
		top: 0;
		left: 0;
		width: 1242px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	// .testimonial__usercard

	&__usercard {
		width: 221px;
		height: 58px;
	}

	// .testimonial__userpic

	&__userpic {
		margin-right: 8px;
		height: 58px;
		width: 58px;
		border-radius: 50%;
		vertical-align: middle;
		float: left;
	}

	// .testimonial__username

	&__username {
		display: block;
		padding: 4px 0;
		font: 700 14px $Gilroy;
		line-height: 120%;
		text-transform: uppercase;
	}

	// .testimonial__userinfo

	&__userinfo {
		font: 400 14px $Gilroy;
		line-height: 160%;
		letter-spacing: 0.05em;
		mix-blend-mode: normal;
		opacity: 0.8;
	}

	// .testimonial__detail

	&__detail {
		margin-top: 24px;
		position: relative;
		width: 100%;
	}

	// .testimonial__navigation

	&__navigation {
		position: absolute;
		top: 0;
		right: 0;
		width: 190px;
		height: 45px;
		font-size: 45px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	// .testimonial__navigation-prev

	&__navigation-prev,
	&__navigation-next {
		display: inline-block;
		cursor: pointer;
		opacity: 0.3;
	}

	&__navigation-prev::before {
		display: inline-block;
		transform: rotate(180deg);
	}

	// .testimonial__navigation-center

	&__navigation-center {
		opacity: 0.3;
		width: 60px;
		height: 2px;
		background-color: $color-white;
	}

	// .testimonial__navigation-next

	// &__navigation-next {
	// 	opacity: 0.3;
	// }

	&__navigation-prev:hover,
	&__navigation-next:hover {
		color: $color-pr4;
		opacity: 1;
	}

	&__navigation-prev:focus,
	&__navigation-next:focus {
		opacity: 1;
	}

	&__navigation-prev:active,
	&__navigation-next:active {
		color: $color-red6;
		opacity: 1;
	}

	// .testimonial__detailed-username

	&__detailed-username {
		font: 700 18px $Gilroy;
		line-height: 120%;
		letter-spacing: 0.05em;
	}

	// .testimonial__detailed-text

	&__detailed-text {
		margin-top: 24px;
		mix-blend-mode: normal;
		opacity: 0.8;
		font: 400 13px $ProximaNova;
		line-height: 140%;
	}

	//.testimonial__detailed-footer

	&__detailed-footer {
		margin-top: 24px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		color: $color-pr4;
	}

	// .testimonial__detailed-raiting

	&__detailed-raiting {
		font-size: 20px;
	}

	// .testimonial__detailed-expand

	&__detailed-expand {
		font: 400 14px $Gilroy;
		line-height: 140%;
		letter-spacing: 0.05em;
	}

	// .testimonial__video

	&__video {
		margin-top: 40px;
		position: relative;
		height: 160px;
		background-image: url('../img/main/video_cover_320.webp');
		background-repeat: no-repeat;
		background-size: contain;
		display: flex;
		align-items: center;
		justify-content: center;

		&::before {
			position: absolute;
			content: "";
			width: 291px;
			height: 160px;
			top: -16px;
			left: 16px;
			border: 1px solid $color-pr4;
		}
	}

	&__video-btn {
		// position: absolute;
		// top: 50%;
		// left: 50%;
		// transform: translate(-40px, -40px);
		height: 80px;
		width: 80px;
		color: $color-white;
		border: 1px solid $color-white;
		border-radius: 50%;
	}

	.icon-play-solid::before {
		position: absolute;
		font-size: 24px;
		top: 50%;
		left: 50%;
		transform: translate(-0.25em, -0.5em);
	}
}


//**** XS container (410)  ********//////////

@include media-xs {

	.testimonial {
		height: $height-testimoinal-xs;

		// .testimonial__inner

		&__inner {
			width: $mq-xs-container;
		}

		// .testimonial__userlist

		&__userlist {}

		// .testimonial__usercard

		&__usercard {}

		// .testimonial__userpic

		&__userpic {}

		// .testimonial__username

		&__username {}

		// .testimonial__userinfo

		&__userinfo {}

		// .testimonial__detail

		&__detail {}

		// .testimonial__navigation

		&__navigation {}

		// .testimonial__navigation-prev

		&__navigation-prev {}

		// .testimonial__navigation-center

		&__navigation-center {}

		// .testimonial__navigation-next

		&__navigation-next {}

		// .testimonial__detailed-username

		&__detailed-username {}

		// .testimonial__detailed-text

		&__detailed-text {
			padding-right: 8px;
			font-size: 14px;
			line-height: 160%;
		}

		// .testimonial__detailed-raiting

		&__detailed-raiting {}

		// .testimonial__detailed-expand

		&__detailed-expand {}

		// .testimonial__video

		&__video {
			margin-top: 56px;
			height: 200px;
			background-image: url('../img/main/video_cover_410.webp');
			background-size: contain;
	
			&::before {
				width: 382px;
				height: 200px;
			}
		}
	}


}


//**** SM container (768)  ********//////////

@include media-sm {

	.testimonial {
		height: $height-testimoinal-sm;
		padding: 80px 0;
		@include gradient2color(250px);

		// .testimonial__inner

		&__inner {
			margin-top: 60px;
			width: $mq-sm-container;
			// display: grid;
			// grid-template-columns: 1fr 1fr;
			// grid-template-rows: auto;
			// grid-template-areas: 
			// 'userlist userlist',
			// 'comment video';
		}

		// .testimonial__userlist

		&__userlist {
			// grid-area: userlist;
		}

		// .testimonial__usercard

		&__usercard {
			margin-right: 83px;
		}

		// .testimonial__userpic

		&__userpic {}

		// .testimonial__username

		&__username {
			font-size: 18px;
		}

		// .testimonial__userinfo

		&__userinfo {
			font-size: 16px;
		}

		// .testimonial__detail

		&__detail {
			margin-top: 80px;
			margin-right: 24px;
			width: 338px;
			float: left;
			// grid-area: comment;

		}

		// .testimonial__navigation

		&__navigation {}

		// .testimonial__navigation-prev

		&__navigation-prev {}

		// .testimonial__navigation-center

		&__navigation-center {}

		// .testimonial__navigation-next

		&__navigation-next {}

		// .testimonial__detailed-username

		&__detailed-username {
			margin-top: 32px;
			font-size: 24px;
		}

		// .testimonial__detailed-text

		&__detailed-text {
			padding-right: 2px;
			font-size: 14px;
			line-height: 160%;
		}

		&__detailed-footer {
			margin-top: 20px;
		}

		// .testimonial__detailed-raiting

		&__detailed-raiting {}

		// .testimonial__detailed-expand

		&__detailed-expand {}

		// .testimonial__video

		&__video {
			// grid-area: video;
			// float: right;

			margin-top: 80px;
			// margin-left: 24px;
			height: 374px;
			background-image: url('../img/main/video_cover.webp'); 
			background-position: top center;
			background-size: cover;
	
			&::before {
				width: 358px;
				height: 370px;
			}
		}
	}


}


//**** MD container (1000)  ********//////////

@include media-md {

	.testimonial {
		height: $height-testimoinal-md;

		// .testimonial__inner

		&__inner {
			width: $mq-md-container;
		}

		// .testimonial__userlist

		&__userlist {}

		// .testimonial__usercard

		&__usercard {}

		// .testimonial__userpic

		&__userpic {}

		// .testimonial__username

		&__username {}

		// .testimonial__userinfo

		&__userinfo {}

		// .testimonial__detail

		&__detail {
			width: 375px;
		}

		// .testimonial__navigation

		&__navigation {}

		// .testimonial__navigation-prev

		&__navigation-prev {}

		// .testimonial__navigation-center

		&__navigation-center {}

		// .testimonial__navigation-next

		&__navigation-next {}

		// .testimonial__detailed-username

		&__detailed-username {}

		// .testimonial__detailed-text

		&__detailed-text {}

		&__detailed-footer {
			margin-top: 36px;
		}

		// .testimonial__detailed-raiting

		&__detailed-raiting {}

		// .testimonial__detailed-expand

		&__detailed-expand {}

		// .testimonial__video

		&__video {
			height: 366px;

			&::before {
				width: 708px;
				height: 363px;
			}
		}
	}

}


//**** LG container (1280)  ********//////////

@include media-lg {

	.testimonial {
		height: $height-testimoinal-lg;
		padding: 100px 0;
		@include gradient2color(320px);

		// .testimonial__inner

		&__inner {
			margin-top: 80px;
			width: $mq-lg-container;
		}

		// .testimonial__userlist

		&__userlist {
			justify-content: space-between;
		}

		// .testimonial__usercard

		&__usercard {}

		// .testimonial__userpic

		&__userpic {}

		// .testimonial__username

		&__username {}

		// .testimonial__userinfo

		&__userinfo {}

		// .testimonial__detail

		&__detail {
			width: 488px;
		}

		// .testimonial__navigation

		&__navigation {}

		// .testimonial__navigation-prev

		&__navigation-prev {}

		// .testimonial__navigation-center

		&__navigation-center {}

		// .testimonial__navigation-next

		&__navigation-next {}

		// .testimonial__detailed-username

		&__detailed-username {
			font-size: 36px;
		}

		// .testimonial__detailed-text

		&__detailed-text {
			margin-top: 16px;
			font: 400 16px $Gilroy;
			line-height: 160%;
			letter-spacing: 0.05em;
		}

		// .testimonial__detailed-raiting

		&__detailed-footer {
			margin-top: 24px;
		}

		&__detailed-raiting {}

		// .testimonial__detailed-expand

		&__detailed-expand {
			font-size: 18px;
		}

		// .testimonial__video

		&__video {
			height: 407px;

			&::before {
				// width: 708px;
				height: 405px;
			}
		}
	}

}


//**** XL container (1920)  ********//////////

@include media-xl {

	.testimonial {
		height: $height-testimoinal-xl;
		padding: 140px 0;
		@include gradient2color(460px);

		// .testimonial__inner

		&__inner {
			width: $mq-xl-container;
		}

		// .testimonial__userlist

		&__userlist {}

		// .testimonial__usercard

		&__usercard {}

		// .testimonial__userpic

		&__userpic {}

		// .testimonial__username

		&__username {}

		// .testimonial__userinfo

		&__userinfo {}

		// .testimonial__detail

		&__detail {
			width: 630px;
		}

		// .testimonial__navigation

		&__navigation {}

		// .testimonial__navigation-prev

		&__navigation-prev {}

		// .testimonial__navigation-center

		&__navigation-center {}

		// .testimonial__navigation-next

		&__navigation-next {}

		// .testimonial__detailed-username

		&__detailed-username {}

		// .testimonial__detailed-text

		&__detailed-text {
			padding-right: 48px;
		}

		// .testimonial__detailed-raiting

		&__detailed-raiting {}

		// .testimonial__detailed-expand

		&__detailed-expand {}

		// .testimonial__video

		&__video {
			height: 421px;
			width: auto;

			&::before {
				width: 786px;
				height: 421px;
			}
		}

		
	&__video-btn {
		height: 114px;
		width: 114px;
	}

	.icon-play-solid::before {
		position: absolute;
		font-size: 24px;
		top: 50%;
		left: 50%;
		transform: translate(-0.25em, -0.5em);
	}
	}

}