.special-banner {
	height: 538px;
	background-image: url('../img/special/special_banner_320.webp');
	background-repeat: no-repeat;
	background-size: cover;

	@include media-xs {
		background-image: url('../img/special/special_banner_410.webp');
		height: 445px;
	}

	@include media-sm {
		background-image: url('../img/special/special_banner_768.webp');
		height: 472px;
	}

	@include media-md {
		background-image: url('../img/special/special_banner_1000.webp');
		height: 608px;
	}

	@include media-lg {
		background-image: url('../img/special/special_banner_1280.webp');
		height: 800px;
	}

	@include media-xl {
		background-image: url('../img/special/special_banner_1920.webp');
		height: 975px;
	}

	// .special-banner__header

	&__header {
		padding-top: 40px;

		@include media-xs {
			padding-top: 60px;
		}

		@include media-sm {
			padding-top: 80px;
		}

		@include media-lg {
			padding-top: 100px;
		}
	}

	// .special-banner__inner

	&__inner {}
}

.special {

	// .special__list

	&__list {
		margin: 0 auto;
		margin-top: 174px;
		margin-left: 16px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		column-gap: 16px;
		row-gap: 16px;


		@include media-xs {
			margin-top: 80px;
			column-gap: 24px;
		}

		@include media-sm {
			margin-top: 150px;
			margin-left: 24px;
			row-gap: 24px;
		}

		@include media-md {
			margin-top: 220px;
			margin-left: 40px;

		}

		@include media-lg {
			margin: 310px 28px 0px 36px;
			justify-content: space-between;
		}

		@include media-xl {
			margin: 0 auto;
			margin-top: 350px;
			// margin: 350px 0px 0px 0px;
			width: 1260px;
			justify-content: center;
		}
	}

	// .special__link

	&__list-item {
		order: 5;
		display: inline-block;
		padding: 8px 12px;
		border-radius: 5px;
		font: 400 14px $Gilroy;
		line-height: 120%;
		text-transform: uppercase;
		background-color: $color-pr3;
		cursor: pointer;

		&:hover {
			background-color: $color-pr4-op25;
		}

		&:active {
			background-color: $color-red6-op25;
		}

		@include media-xs {
			padding: 12px 20px;
		}

		// @include media-sm {}

		@include media-md {
			font-size: 18px;
			line-height: 120%;
			padding: 18px 24px;

		}

		@include media-lg {
			font-size: 24px;
			line-height: 120%;
			padding: 26px 24px;

		}

		// @include media-xl {}

	}

	&__link {
		color: $color-white;

		span {
			padding-right: 8px;
		}
	}

	&__btn {
		display: none;

		@include media-xs {
			display: inline-block;
			width: 136px;
			height: 41px;
			text-align: center;
			order: 8;
			// padding: 12px 36px;
			border-radius: 6px;
			font: 400 14px $Gilroy;
			line-height: 41px;
			// line-height: 120%;
			text-transform: uppercase;
			background-color: $color-pr4-op25;
			border: 1px solid $color-pr4;

			a {
				color: $color-white;
			}

			&:hover {
				background-color: $color-pr4-op25;
			}

			&:active {
				border-color: $color-red6;
				background-color: $color-red6-op25;
			}
		}

		// @include media-sm {}

		@include media-md {
			width: 182px;
			height: 57px;
			font-size: 18px;
			line-height: 57px;
		}

		@include media-lg {
			width: 244px;
			height: 80px;
			font-size: 24px;
			line-height: 80px;
		}

		@include media-xl {
			width: 260px;
		}

	}

	&__list-item__order1 {
		@include media-xs {
			order: 1;
		}
	}

	&__list-item__order2 {
		@include media-xs {
			order: 2;
		}
	}
}

//*************** TRANSFER SECTION  ***********//

.transfer {

	@include gradientborder;
	height: 857px;
	background-image: $gradient-section, url('../img/special/airplane-taking-off-from-the-airport_320.webp');
	background-repeat: no-repeat;
	background-size: cover;

	@include media-xs {
		background-image: $gradient-section, url('../img/special/airplane-taking-off-from-the-airport_410.webp');
		height: 941px;
	}

	@include media-sm {
		background-image: $gradient-section, url('../img/special/airplane-taking-off-from-the-airport_768.webp');
		height: 857px;
	}

	@include media-md {
		background-image: $gradient-section, url('../img/special/airplane-taking-off-from-the-airport_1000.webp');
		height: 934px;
	}

	@include media-lg {
		background-image: $gradient-section, url('../img/special/airplane-taking-off-from-the-airport_1280.webp');
		height: 1111px;
	}

	@include media-xl {
		background-image: $gradient-section, url('../img/special/airplane-taking-off-from-the-airport_1920.webp');
		height: 1371px;
	}

	// .transfer__inner

	&__inner {
		margin-top: 40px;

		@include media-sm {
			margin-top: 60px;
		}

		@include media-lg {
			margin-top: 100px;
		}

	}

	// .transfer__flex-wrapper

	&__flex-wrapper {
		display: flex;
		flex-direction: column-reverse;

		@include media-sm {
			flex-direction: row;
			align-items: center;
			flex-wrap: nowrap;
		}

	}

	// .transfer__img
	&__img {
		position: relative;
		flex: 0 0 auto;

		&::before {
			content: "";
			position: absolute;
			border: 1px solid $color-pr4;
			top: -16px;
			left: 16px;
			width: 291px;
			height: 192px;

			@include media-xs {
				width: 381px;
				height: 230px;
			}

			@include media-sm {
				top: -20px;
				left: 24px;
				width: 417px;
				height: 327px;
			}

			@include media-md {
				top: -24px;
				width: 558px;
				height: 404px;
			}

			@include media-lg {
				top: -20px;
				width: 725px;
				height: 518px;
			}

			@include media-xl {
				top: -24px;
				width: 1166px;
				height: 648px;
			}
		}
	}

	// .transfer__list
	&__list {
		margin-top: 40px;
		width: 100%;
		flex: 0 0 auto;

		@include media-sm {
			margin-top: 0px;
			width: 290px;
			margin-right: 24px;
		}

		@include media-md {
			width: 380px;
		}

		@include media-lg {
			margin-right: 75px;
			width: 444px;
		}

		@include media-xl {
			margin-right: 45px;
			align-self: flex-end;
		}

	}

	// .transfer__slider
	&__slider {
		margin-top: 24px;

		@include media-xs {
			margin-top: 60px;
		}

		@include media-sm {
			margin-top: 40px;
		}

		@include media-md {
			margin-top: 80px;
		}

		@include media-xl {
			margin-top: 120px;
		}
	}
}

//*************** MEETING SECTION  ***********//

.meeting {

	@include gradientborder;
	height: 908px;
	background-image: $gradient-section, url('../img/special/low-angle-shot-of-grey-skyscrapers-in-front-of-the-river-under-the-dark-cloudy-sky_410.webp');
	background-repeat: no-repeat;
	background-size: cover;

	@include media-xs {
		height: 964px;
	}

	@include media-sm {
		background-image: $gradient-section, url('../img/special/low-angle-shot-of-grey-skyscrapers-in-front-of-the-river-under-the-dark-cloudy-sky_768.webp');
		height: 948px;
	}

	@include media-md {
		background-image: $gradient-section, url('../img/special/low-angle-shot-of-grey-skyscrapers-in-front-of-the-river-under-the-dark-cloudy-sky_1000.webp');
		height: 1009px;
	}

	@include media-lg {
		background-image: $gradient-section, url('../img/special/low-angle-shot-of-grey-skyscrapers-in-front-of-the-river-under-the-dark-cloudy-sky_1280.webp');
		height: 1142px;
	}

	@include media-xl {
		background-image: $gradient-section, url('../img/special/low-angle-shot-of-grey-skyscrapers-in-front-of-the-river-under-the-dark-cloudy-sky_1920.webp');
		height: 1371px;
	}

	// .meeting__inner

	&__inner {
		margin-top: 40px;

		@include media-sm {
			margin-top: 80px;
		}

		@include media-lg {
			margin-top: 100px;
		}

	}

	// .meeting__flex-wrapper
	&__flex-wrapper {
		display: flex;
		flex-direction: column;

		@include media-sm {
			flex-direction: row;
			// align-items: center;
			align-items: flex-start;
			flex-wrap: nowrap;
		}

	}

	// .meeting__img
	&__img {
		position: relative;
		flex: 0 0 auto;
		margin-left: -24px;

		@include media-xl {
			margin-left: -250px;
		}

		&::before {
			content: "";
			position: absolute;
			border: 1px solid $color-pr4;
			top: -16px;
			right: 16px;
			width: 291px;
			height: 192px;

			@include media-xs {
				width: 381px;
				height: 230px;
			}

			@include media-sm {
				top: -20px;
				left: 24px;
				width: 417px;
				height: 327px;
			}

			@include media-md {
				top: -24px;
				width: 558px;
				height: 404px;
			}

			@include media-lg {
				top: -20px;
				width: 725px;
				height: 518px;
			}

			@include media-xl {
				top: -24px;
				width: 1166px;
				height: 648px;
			}
		}
	}

	// .meeting__list
	&__list {
		margin-top: 20px;
		width: 100%;
		flex: 0 0 auto;

		@include media-sm {
			margin-top: 16px;
			width: 247px;
			margin-left: 20px;
		}

		@include media-md {
			margin-left: 30px;
			width: 380px;
		}

		@include media-lg {
			width: 460px;
		}

		@include media-xl {
			margin-top: 60px;
			margin-left: 24px;
		}

		.checklist {

			// .checklist__quote
			&__quote {}

			// .checklist__quote-text
			&__quote-text {}

			// .checklist__quote-title
			&__quote-title {}

			// .checklist__description
			&__description {
				@include media-sm {
					// margin-bottom: 16px;
					padding-right: 9px;
				}

				@include media-md {
					padding-right: 0px;
				}

			}

			// .checklist__title
			&__title {
				@include media-sm {
					margin-bottom: 8px;
				}
			}

			// .checklist__body
			&__body {
				@include media-sm {
					padding-right: 20px;
				}

				@include media-md {
					padding-right: 0px;
				}

			}

			// .checklist__item
			&__item {}

			// .checklist__icon
			&__icon {}
		}

	}

	// .meeting__slider
	&__slider {
		margin-top: 24px;

		@include media-xs {
			margin-top: 60px;
		}

		@include media-sm {
			margin-top: 40px;
		}

		@include media-md {
			margin-top: 80px;
		}

		@include media-xl {
			margin-top: 120px;
		}
	}
}

//*************** WEDDING SECTION  ***********//

.wedding {

	@include gradientborder;
	height: 870px;
	background-image: $gradient-section, url('../img/special/wedding-invitation-with-wedding-bouquet-and-rings_320.webp');
	background-repeat: no-repeat;
	background-size: cover;

	@include media-xs {
		background-image: $gradient-section, url('../img/special/wedding-invitation-with-wedding-bouquet-and-rings_410.webp');
		height: 909px;
	}

	@include media-sm {
		background-image: $gradient-section, url('../img/special/wedding-invitation-with-wedding-bouquet-and-rings_768.webp');
		height: 862px;
	}

	@include media-md {
		background-image: $gradient-section, url('../img/special/wedding-invitation-with-wedding-bouquet-and-rings_1000.webp');
		height: 995px;
	}

	@include media-lg {
		background-image: $gradient-section, url('../img/special/wedding-invitation-with-wedding-bouquet-and-rings_1280.webp');
		height: 1140px;
	}

	@include media-xl {
		background-image: $gradient-section, url('../img/special/wedding-invitation-with-wedding-bouquet-and-rings_1920.webp');
		height: 1371px;
	}

	// .wedding__inner

	&__inner {
		margin-top: 40px;

		@include media-sm {
			margin-top: 60px;
		}

		@include media-lg {
			margin-top: 80px;
		}

		@include media-xl {
			margin-top: 100px;
		}
	}

	// .wedding__flex-wrapper

	&__flex-wrapper {
		display: flex;
		flex-direction: column-reverse;

		@include media-sm {
			flex-direction: row;
			align-items: center;
			flex-wrap: nowrap;
		}

	}

	// .wedding__img
	&__img {
		position: relative;
		flex: 0 0 auto;

		&::before {
			content: "";
			position: absolute;
			border: 1px solid $color-pr4;
			top: -16px;
			left: 16px;
			width: 291px;
			height: 192px;

			@include media-xs {
				width: 381px;
				height: 230px;
			}

			@include media-sm {
				top: -20px;
				left: 24px;
				width: 433px;
				height: 352px;
			}

			@include media-md {
				top: -20px;
				width: 724px;
				height: 465px;
			}

			@include media-lg {
				top: -24px;
				width: 725px;
				height: 528px;
			}

			@include media-xl {
				top: -20px;
				width: 1166px;
				height: 648px;
			}
		}
	}

	// .wedding__list
	&__list {
		margin-top: 40px;
		width: 100%;
		flex: 0 0 auto;

		@include media-sm {
			margin-top: 0px;
			width: 285px;
			margin-right: 24px;
		}

		@include media-md {
			width: 370px;
		}

		@include media-lg {
			margin-right: 50px;
			width: 480px;
		}

		@include media-xl {
			margin-right: 30px;
			align-self: flex-end;
		}

	}

	// .wedding__slider
	&__slider {
		margin-top: 24px;

		@include media-sm {
			margin-top: 60px;
		}

		@include media-md {
			margin-top: 80px;
		}

		@include media-xl {
			margin-top: 110px;
		}
	}

	.checklist__description {
		margin-top: 0px;
	}
}

//*************** DATING SECTION  ***********//

.dating {

	@include gradientborder;
	height: 1083px;
	background-image: $gradient-section, url('../img/special/__large_город_д.фуфаев\ _2_\ 320.webp');
	background-repeat: no-repeat;
	background-size: cover;

	@include media-xs {
		height: 1061px;
		background-image: $gradient-section, url('../img/special/__large_город_д.фуфаев\ _2_\ 410.webp');
	}

	@include media-sm {
		background-image: $gradient-section, url('../img/special/__large_город_д.фуфаев\ _2_\ 768.webp');
		height: 1165px;
	}

	@include media-md {
		background-image: $gradient-section, url('../img/special/__large_город_д.фуфаев\ _2_\ 1000.webp');
		height: 1255px;
	}

	@include media-lg {
		background-image: $gradient-section, url('../img/special/__large_город_д.фуфаев\ _2_\ 1280.webp');
		height: 1325px;
	}

	@include media-xl {
		background-image: $gradient-section, url('../img/special/__large_город_д.фуфаев\ _2_\ 1920.webp');
		height: 1517px;
	}

	// .dating__inner

	&__inner {
		margin-top: 40px;

		@include media-sm {
			margin-top: 60px;
		}

		@include media-lg {
			margin-top: 80px;
		}

		@include media-xl {
			margin-top: 60px;
		}

	}

	// .dating__flex-wrapper
	&__flex-wrapper {
		display: flex;
		flex-direction: column;

		@include media-sm {
			flex-direction: row;
			align-items: flex-start;
			flex-wrap: nowrap;
		}

	}

	// .dating__img
	&__img {
		position: relative;
		flex: 0 0 auto;
		margin-left: -24px;

		@include media-sm {
			margin-top: 24px;
		}

		@include media-xl {
			margin-top: 48px;
			margin-left: -250px;
		}

		&::before {
			content: "";
			position: absolute;
			border: 1px solid $color-pr4;
			top: -16px;
			right: 16px;
			width: 291px;
			height: 192px;

			@include media-xs {
				width: 381px;
				height: 230px;
			}

			@include media-sm {
				top: -24px;
				right: 24px;
				width: 465px;
				height: 654px;
			}

			@include media-md {
				width: 707px;
				height: 724px;
			}

			@include media-lg {
				top: -32px;
			}

			@include media-xl {
				width: 1174px;
				height: 794px;
			}
		}
	}

	// .dating__list
	&__list {
		margin-top: 40px;
		width: 100%;
		flex: 0 0 auto;

		@include media-sm {
			margin-top: 0;
			width: 226px;
			margin-left: 30px;
		}

		@include media-md {
			width: 380px;
		}

		@include media-lg {
			width: 486px;
		}

		@include media-xl {
			width: 460px;
			margin-left: 24px;
		}

		.checklist {

			// .checklist__description
			&__description {
				margin-top: 0;

				@include media-sm {
					padding-right: 0px;
				}

				@include media-md {
					padding-right: 8px;
				}

				@include media-xl {
					margin-bottom: 24px;
				}

			}

			// .checklist__title
			&__title {
				margin-bottom: 8px;

				@include media-sm {
					margin-bottom: 8px;
				}

				@include media-md {
					margin-bottom: 16px;
				}

			}

			// .checklist__body
			&__body {
				@include media-sm {
					margin-left: -8px;
				}

				@include media-md {
					padding-right: 0px;
				}

			}

			// .checklist__item
			&__item {

				@include media-sm {
					margin-bottom: 0;
					padding-right: 2px;
				}

				@include media-lg {
					margin-bottom: 16px;
				}
			}
		}
	}

	// .dating__slider
	&__slider {
		margin-top: 8px;

		@include media-sm {
			margin-top: 48px;
		}

		@include media-md {
			margin-top: 80px;
		}

		@include media-xl {
			margin-top: 120px;
		}
	}
}

//*************** PHOTOSHOOT SECTION  ***********//

.photoshoot {

	@include gradientborder;
	height: 870px;
	background-image: $gradient-section, url('../img/special/Kazanskiy-sobor-e1616694244558_320.webp');
	background-repeat: no-repeat;
	background-size: cover;

	@include media-xs {
		background-image: $gradient-section, url('../img/special/Kazanskiy-sobor-e1616694244558_410.webp');
		height: 865px;
	}

	@include media-sm {
		background-image: $gradient-section, url('../img/special/Kazanskiy-sobor-e1616694244558_768.webp');
		height: 833px;
	}

	@include media-md {
		background-image: $gradient-section, url('../img/special/Kazanskiy-sobor-e1616694244558_1000.webp');
		height: 949px;
	}

	@include media-lg {
		background-image: $gradient-section, url('../img/special/Kazanskiy-sobor-e1616694244558_1280.webp');
		height: 1092px;
	}

	@include media-xl {
		background-image: $gradient-section, url('../img/special/Kazanskiy-sobor-e1616694244558_1920.webp');
		height: 1371px;
	}

	// .photoshoot__inner

	&__inner {
		margin-top: 40px;

		@include media-sm {
			margin-top: 60px;
		}

		@include media-lg {
			margin-top: 80px;
		}

		@include media-xl {
			margin-top: 100px;
		}
	}

	// .photoshoot__flex-wrapper
	&__flex-wrapper {
		display: flex;
		flex-direction: column-reverse;

		@include media-sm {
			flex-direction: row;
			align-items: flex-start;
			flex-wrap: nowrap;
		}

	}

	// .photoshoot__img
	&__img {
		position: relative;
		flex: 0 0 auto;

		@include media-sm {
			margin-top: 24px;
		}

		@include media-xl {
			margin-top: 0;
			margin-bottom: 32px;
		}

		&::before {
			content: "";
			position: absolute;
			border: 1px solid $color-pr4;
			top: -16px;
			left: 16px;
			width: 291px;
			height: 192px;

			@include media-xs {
				width: 381px;
				height: 230px;
			}

			@include media-sm {
				top: -20px;
				left: 24px;
				width: 415px;
				height: 328px;
			}

			@include media-md {
				top: -20px;
				width: 556px;
				height: 418px;
			}

			@include media-lg {
				top: -24px;
				width: 720px;
				height: 480px;
			}

			@include media-xl {
				top: -20px;
				width: 1169px;
				height: 650px;
			}
		}
	}

	// .photoshoot__list
	&__list {
		margin-top: 40px;
		width: 100%;
		flex: 0 0 auto;

		@include media-sm {
			margin-top: 0px;
			width: 285px;
			margin-right: 24px;
		}

		@include media-md {
			width: 378px;
		}

		@include media-lg {
			margin-right: 54px;
			width: 460px;
		}

		@include media-xl {
			margin-right: 24px;
			align-self: flex-end;
		}

	}

	// .photoshoot__slider
	&__slider {
		margin-top: 24px;

		@include media-sm {
			margin-top: 60px;
		}

		@include media-md {
			margin-top: 80px;
		}

		@include media-xl {
			margin-top: 110px;
		}
	}

	.checklist__description {
		margin-top: 0px;
	}

	.checklist__title {
		margin-bottom: 8px;

		@include media-sm {
			margin-top: 24px;
			margin-bottom: 16px;
		}

	}

	.checklist__body {
		margin-top: 0px;
	}
}

//*************** BUSINESS SECTION  ***********//

.business {

	@include gradientborder;
	height: 971px;
	background-image: $gradient-section, url('../img/special/square_320.webp');
	background-repeat: no-repeat;
	background-size: cover;

	@include media-xs {
		height: 1046px;
		background-image: $gradient-section, url('../img/special/square_410.webp');
	}

	@include media-sm {
		background-image: $gradient-section, url('../img/special/square_768.webp');
		height: 1029px;
	}

	@include media-md {
		background-image: $gradient-section, url('../img/special/square_1000.webp');
		height: 1131px;
	}

	@include media-lg {
		background-image: $gradient-section, url('../img/special/square_1280.webp');
		height: 1273px;
	}

	@include media-xl {
		background-image: $gradient-section, url('../img/special/square_1920.webp');
		height: 1386px;
	}

	// .business__inner

	&__inner {
		margin-top: 40px;

		@include media-sm {
			margin-top: 60px;
		}

		@include media-lg {
			margin-top: 80px;
		}

	}

	// .business__flex-wrapper
	&__flex-wrapper {
		display: flex;
		flex-direction: column;

		@include media-sm {
			flex-direction: row;
			align-items: flex-start;
			flex-wrap: nowrap;
		}

	}

	// .business__img
	&__img {
		position: relative;
		flex: 0 0 auto;
		margin-left: -24px;

		@include media-sm {
			margin-top: 24px;
		}

		@include media-xl {
			margin-top: 48px;
			margin-left: -250px;
		}

		&::before {
			content: "";
			position: absolute;
			border: 1px solid $color-pr4;
			top: -16px;
			right: 16px;
			width: 291px;
			height: 192px;

			@include media-xs {
				width: 381px;
				height: 232px;
			}

			@include media-sm {
				top: -24px;
				right: 24px;
				width: 558px;
				height: 500px;
			}

			@include media-md {
				height: 581px;
			}

			@include media-lg {
				width: 1170px;
				height: 658px;
			}

			@include media-xl {
				height: 666px;
			}
		}
	}

	// .business__list
	&__list {
		margin-top: 40px;
		width: 100%;
		flex: 0 0 auto;

		@include media-sm {
			margin-top: 0;
			width: 226px;
			margin-left: 24px;
		}

		@include media-md {
			width: 382px;
		}

		@include media-lg {
			margin-left: 30px;
			width: 489px;
		}

		@include media-xl {
			width: 460px;
			margin-left: 24px;
		}

		.checklist {

			// .checklist__description
			&__description {
				margin-top: 0;

				@include media-sm {
					padding-right: 0px;
				}

				@include media-md {
					padding-right: 8px;
				}

				@include media-xl {
					margin-bottom: 24px;
				}

			}

			// .checklist__body
			&__body {
				@include media-sm {
					margin-left: -8px;
				}

				@include media-md {
					padding-right: 0px;
				}

			}

			// .checklist__item
			&__item {

				@include media-sm {
					margin-bottom: 0;
					padding-right: 2px;
				}

				@include media-md {
					margin-bottom: 16px;
				}

				@include media-xl {
					margin-bottom: 24px;
				}
			}
		}
	}

	// .business__slider
	&__slider {
		margin-top: 8px;

		@include media-sm {
			margin-top: 48px;
		}

		@include media-md {
			margin-top: 100px;
		}

		@include media-xl {
			margin-top: 120px;
		}
	}
}

//*************** RENT FOR... SECTION  ***********//

.rentfor {

	// @include gradientborder;
	// height: 870px;
	// background-image: $gradient-section, url('../img/special/Kazanskiy-sobor-e1616694244558_320.webp');
	// background-repeat: no-repeat;
	// background-size: cover;

	// @include media-xs {
	// 	background-image: $gradient-section, url('../img/special/Kazanskiy-sobor-e1616694244558_410.webp');
	// 	height: 865px;
	// }

	// @include media-sm {
	// 	background-image: $gradient-section, url('../img/special/Kazanskiy-sobor-e1616694244558_768.webp');
	// 	height: 833px;
	// }

	// @include media-md {
	// 	background-image: $gradient-section, url('../img/special/Kazanskiy-sobor-e1616694244558_1000.webp');
	// 	height: 949px;
	// }

	// @include media-lg {
	// 	background-image: $gradient-section, url('../img/special/Kazanskiy-sobor-e1616694244558_1280.webp');
	// 	height: 1092px;
	// }

	// @include media-xl {
	// 	background-image: $gradient-section, url('../img/special/Kazanskiy-sobor-e1616694244558_1920.webp');
	// 	height: 1371px;
	// }

	// .rentfor__inner

	&__inner {
		margin-top: 40px;

		@include media-sm {
			margin-top: 60px;
		}

		@include media-lg {
			margin-top: 80px;
		}

		@include media-xl {
			margin-top: 100px;
		}
	}

	// .rentfor__flex-wrapper
	&__flex-wrapper {
		display: flex;
		flex-direction: column-reverse;

		@include media-sm {
			flex-direction: row;
			align-items: flex-start;
			flex-wrap: nowrap;
		}

	}

	// .rentfor__img
	&__img {
		position: relative;
		flex: 0 0 auto;

		@include media-sm {
			margin-top: 24px;
		}

		@include media-xl {
			margin-top: 0;
			margin-bottom: 32px;
		}

		&::before {
			content: "";
			position: absolute;
			border: 1px solid $color-pr4;
			top: -16px;
			left: 16px;
			width: 291px;
			height: 192px;

			@include media-xs {
				width: 381px;
				height: 232px;
			}

			@include media-sm {
				top: -20px;
				left: 24px;
				width: 420px;
				height: 340px;
			}

			@include media-md {
				top: -20px;
				width: 552px;
				height: 390px;
			}

			@include media-lg {
				top: -24px;
				width: 727px;
				height: 512px;
			}

			@include media-xl {
				top: -20px;
				width: 1169px;
				height: 650px;
			}
		}
	}

	// .rentfor__list
	&__list {
		margin-top: 40px;
		width: 100%;
		flex: 0 0 auto;

		@include media-sm {
			margin-top: 0px;
			width: 285px;
			margin-right: 24px;
		}

		@include media-md {
			width: 378px;
		}

		@include media-lg {
			margin-right: 72px;
			width: 444px;
		}

		@include media-xl {
			margin-right: 48px;
			align-self: flex-end;
		}

	}
	.checklist__description {
		margin-top: 0px;
	}

	.checklist__title {
		margin-bottom: 8px;

		@include media-sm {
			margin-top: 24px;
			margin-bottom: 16px;
		}

	}

	.checklist__body {
		margin-top: 0px;
	}
}

//**** THIS SAME FOR ALL SECTIONS *********//

.checklist {

	font: 400 14px $Gilroy;
	line-height: 120%;
	color: $color-white;

	// @include media-xs {

	// }

	// @include media-sm {

	// }

	@include media-md {
		font-size: 16px;
		line-height: 160%;
		letter-spacing: 0.05em;
	}

	@include media-lg {
		font-size: 18px;
		line-height: 160%;
	}

	// @include media-xl {

	// }

	// .checklist__quote

	&__quote {
		position: relative;

		@include media-xs {
			margin-left: -20px;
		}

		@include media-sm {
			width: 385px;
			margin-left: -150px;
		}

		@include media-md {
			width: 528px;
		}

		@include media-lg {
			width: 650px;
		}

		// @include media-xl {

		// }
		&::before {
			position: absolute;
			content: "";
			height: 87px;
			width: 150%;
			transform: skewX(10deg);
			background-color: $color-pr3;

			@include media-xs {
				height: 74px;
				transform: skewX(20deg);
			}

			// @include media-sm {

			// }

			@include media-md {
				height: 90px;
			}

			// @include media-lg {

			// }

			@include media-xl {
				height: 107px;
				left: -64px;
			}

		}
	}

	// .checklist__quote-text

	&__quote-text {
		position: relative;
		padding: 15px 0px 0px 36px;
		font-weight: 700;
		line-height: 120%;
		text-transform: uppercase;
		color: $color-pr4;

		@include media-md {
			padding: 24px 0px 0px 24px;
			letter-spacing: normal;
		}

		@include media-xl {
			// padding: 34px 0px 0px 0px;
			text-align: center;
			margin: 0;
			padding: 0;
			padding-top: 34px;
		}
	}


	// .checklist__quote-title

	&__quote-title {
		position: relative;
		margin-top: -8px;
		line-height: 140%;
		letter-spacing: 0.05em;
		text-align: end;


		@include media-xs {
			margin-top: 0;
		}

		// @include media-sm {

		// }

		// @include media-md {

		// }

		@include media-lg {
			margin-top: 8px;
			margin-right: 24px;
		}

		// @include media-xl {

		// }
	}

	// .checklist__description

	&__description {
		margin-top: 24px;
		margin-bottom: 16px;

		@include media-xs {
			margin-top: 20px;
		}

		@include media-sm {
			margin-top: 30px;
		}

		@include media-md {
			margin-bottom: 24px;
		}

		@include media-lg {
			margin-top: 20px;
			margin-bottom: 32px;
		}

		@include media-xl {
			margin-top: 60px;
			margin-bottom: 42px;
		}
	}

	// .checklist__title

	&__title {
		margin-bottom: 16px;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 16px;

		// @include media-xs {

		// }

		@include media-sm {
			margin-bottom: 24px;
			font-size: 18px;
		}

		// @include media-md {

		// }

		@include media-lg {
			margin-bottom: 42px;
			font-weight: 900;
			font-size: 24px;
		}

		// @include media-xl {

		// }

	}

	// .checklist__body

	&__body {
		// margin-top: 16px;
		// padding-left: 48px;
	}

	// .checklist__item

	&__item {
		position: relative;
		padding-left: 48px;


		@include media-xs {
			margin-bottom: 8px;
		}

		@include media-sm {
			margin-bottom: 16px;
		}

		// @include media-md {

		// }

		@include media-lg {
			margin-bottom: 24px;
		}

		// @include media-xl {

		// }

	}

	&__icon {
		color: $color-pr4;
		font-size: 24px;
		height: 32px;
		width: 32px;

		&::before {
			position: absolute;
			top: 0.5em;
			left: 0.25em;
		}
	}

	&__footer {
		margin-top: 8px;

		@include media-md {
			margin-top: 16px;
		}

		@include media-lg {
			margin-top: 24px;
		}

		&::before {
			content: "*";
			color: $color-pr4;
		}
	}
}

.card-slider {
	position: relative;
	// .card-slider__navigation

	&__navigation {
		display: none;

		@include media-sm {
			position: absolute;
			top: -54px;
			right: 0;
			width: 190px;
			height: 45px;
			font-size: 45px;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
		}
	}

	// .card-slider__navigation-prev

	&__navigation-prev {}

	// .card-slider__navigation-next

	&__navigation-next {}

	&__navigation-prev,
	&__navigation-next {
		display: inline-block;
		cursor: pointer;
		opacity: 0.3;
		color: $color-white;
	}

	&__navigation-prev::before {
		display: inline-block;
		transform: rotate(180deg);
	}

	// .card-slider__navigation-center

	&__navigation-center {
		opacity: 0.3;
		width: 60px;
		height: 2px;
		background-color: $color-white;
	}

	&__navigation-prev:hover,
	&__navigation-next:hover {
		color: $color-pr4;
		opacity: 1;
	}

	&__navigation-prev:focus,
	&__navigation-next:focus {
		opacity: 1;
	}

	&__navigation-prev:active,
	&__navigation-next:active {
		color: $color-red6;
		opacity: 1;
	}

	// .card-slider__body

	&__body {
		position: absolute;
		left: 0;
		// margin-top: 24px;
		display: flex;
		flex-direction: row;
		// transition: left 0.25s ease-in-out;

		// transition: left 0.5s ease-out;
	}

	// .card-slider__item

	&__item {
		position: relative;
		width: 282px;
		height: 154px;
		flex: 0 0 auto;
		margin-right: 24px;
		padding-top: 16px;
		border-radius: 5px;
		color: $color-white;
		background-color: $color-pr3;

		@include media-xs {
			width: 306px;
		}

		@include media-sm {
			width: 286px;
		}

		@include media-md {
			width: 300px;
		}

		@include media-lg {
			width: 286px;
		}

		@include media-xl {
			width: 340px;
		}

		// .card-slider__item-active {
		// 	display: block;
		// }

	}

	// .card-slider__title

	&__title {
		margin: 0px 0px 24px 16px;
		font: 700 18px $Gilroy;
		line-height: 120%;
		text-transform: uppercase;
	}

	// .card-slider__img

	&__img {
		margin-left: 10px;
		width: 156px;

		@include media-xl {
			margin-left: 15px;
			width: 192px;
		}
	}

	// .card-slider__detail

	&__detail {
		position: absolute;
		top: 56px;
		right: 14px;
		display: flex;
		flex-direction: column;
	}

	// .card-slider__detail-item

	&__detail-item {
		font: 400 14px $Gilroy;
		line-height: 120%;
		margin-bottom: 8px;
	}

	// .card-slider__icon

	&__icon {}

	// .card-slider__text

	&__text {
		margin-left: 8px;
	}
}