.special-banner {
	height: 538px;
	background-image: url('../img/special/special_banner_320.webp');
	background-repeat: no-repeat;
	background-size: cover;

	@include media-xs {
		background-image: url('../img/special/special_banner_410.webp');
		height: 445px;
	}

	@include media-sm {
		background-image: url('../img/special/special_banner_768.webp');
		height: 472px;
	}

	@include media-md {
		background-image: url('../img/special/special_banner_1000.webp');
		height: 608px;
	}

	@include media-lg {
		background-image: url('../img/special/special_banner_1280.webp');
		height: 800px;
	}

	@include media-xl {
		background-image: url('../img/special/special_banner_1920.webp');
		height: 975px;
	}

	// .special-banner__header

	&__header {
		padding-top: 40px;

		@include media-xs {
			padding-top: 60px;
		}

		@include media-sm {
			padding-top: 80px;
		}

		@include media-lg {
			padding-top: 100px;
		}
	}

	// .special-banner__inner

	&__inner {}
}

.special {

	// .special__list

	&__list {
		margin: 0 auto;
		margin-top: 174px;
		margin-left: 16px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		column-gap: 16px;
		row-gap: 16px;


		@include media-xs {
			margin-top: 80px;
			column-gap: 24px;
		}

		@include media-sm {
			margin-top: 150px;
			margin-left: 24px;
			row-gap: 24px;
		}

		@include media-md {
			margin-top: 220px;
			margin-left: 40px;

		}

		@include media-lg {
			margin: 310px 28px 0px 36px;
			justify-content: space-between;
		}

		@include media-xl {
			margin: 0 auto;
			margin-top: 350px;
			// margin: 350px 0px 0px 0px;
			width: 1260px;
			justify-content: center;
		}
	}

	// .special__link

	&__list-item {
		order: 5;
		display: inline-block;
		padding: 8px 12px;
		border-radius: 5px;
		font: 400 14px $Gilroy;
		line-height: 120%;
		text-transform: uppercase;
		background-color: $color-pr3;
		cursor: pointer;

		&:hover {
			background-color: $color-pr4-op25;
		}

		&:active {
			background-color: $color-red6-op25;
		}

		@include media-xs {
			padding: 12px 20px;
		}

		// @include media-sm {}

		@include media-md {
			font-size: 18px;
			line-height: 120%;
			padding: 18px 24px;

		}

		@include media-lg {
			font-size: 24px;
			line-height: 120%;
			padding: 26px 24px;

		}

		// @include media-xl {}

	}

	&__link {
		color: $color-white;

		span {
			padding-right: 8px;
		}
	}

	&__btn {
		display: none;

		@include media-xs {
			display: inline-block;
			width: 136px;
			height: 41px;
			text-align: center;
			order: 8;
			// padding: 12px 36px;
			border-radius: 6px;
			font: 400 14px $Gilroy;
			line-height: 41px;
			// line-height: 120%;
			text-transform: uppercase;
			background-color: $color-pr4-op25;
			border: 1px solid $color-pr4;

			a {
				color: $color-white;
			}

			&:hover {
				background-color: $color-pr4-op25;
			}

			&:active {
				border-color: $color-red6;
				background-color: $color-red6-op25;
			}
		}

		// @include media-sm {}

		@include media-md {
			width: 182px;
			height: 57px;
			font-size: 18px;
			line-height: 57px;
		}

		@include media-lg {
			width: 244px;
			height: 80px;
			font-size: 24px;
			line-height: 80px;
		}

		@include media-xl {
			width: 260px;
		}

	}

	&__list-item__order1 {
		@include media-xs {
			order: 1;
		}
	}

	&__list-item__order2 {
		@include media-xs {
			order: 2;
		}
	}
}

//*************** TRANSFER SECTION  ***********//

.transfer {

	height: 857px;
	background-image: $gradient-section, url('../img/special/airplane-taking-off-from-the-airport_320.webp');
	background-repeat: no-repeat;
	background-size: cover;

	@include media-xs {
		background-image: $gradient-section, url('../img/special/airplane-taking-off-from-the-airport_410.webp');
		height: 941px;
	}

	@include media-sm {
		background-image: $gradient-section, url('../img/special/airplane-taking-off-from-the-airport_768.webp');
		height: 857px;
	}

	@include media-md {
		background-image: $gradient-section, url('../img/special/airplane-taking-off-from-the-airport_1000.webp');
		height: 934px;
	}

	@include media-lg {
		background-image: $gradient-section, url('../img/special/airplane-taking-off-from-the-airport_1280.webp');
		height: 1111px;
	}

	@include media-xl {
		background-image: $gradient-section, url('../img/special/airplane-taking-off-from-the-airport_1920.webp');
		height: 1371px;
	}

	// .transfer__img

	&__img {}

	// .transfer__list

	&__list {}

	// .transfer__slider

	&__slider {}
}



//**** THIS SAME FOR ALL SECTIONS *********//


.checklist {

	// .checklist__description

	&__description {}

	// .checklist__title

	&__title {}

	// .checklist__body

	&__body {}

	// .checklist__item

	&__item {}
}

.card-slider {

	// .card-slider__navigation

	&__navigation {}

	// .card-slider__navigation-prev

	&__navigation-prev {}

	// .card-slider__navigation-center

	&__navigation-center {}

	// .card-slider__navigation-next

	&__navigation-next {}

	// .card-slider__body

	&__body {}

	// .card-slider__item

	&__item {}

	// .card-slider__title

	&__title {}

	// .card-slider__img

	&__img {}

	// .card-slider__detail

	&__detail {}

	// .card-slider__detail-item

	&__detail-item {}

	// .card-slider__icon

	&__icon {}

	// .card-slider__text

	&__text {}
}