//!*************COLORS **********************/
//*common colors
$color-white: #fff;
$color-black: #000;
$color-pr1: #0A0C11;
$color-pr2: #15171E;
$color-pr3: #232731;
$color-pr4: #EDC5A2;
$color-red6: #B72025;
$color-brown: #5E4139;


//**************MEDIA QUERIES ****************/
$mq-xl: 1919px;
$mq-xl-container: 1440px;
$mq-lg: 1279px; 
$mq-lg-container: 1212px;
$mq-md: 999px;
$mq-md-container: 948px;
$mq-sm: 767px;
$mq-sm-container: 720px;
$mq-xs: 410px;
$mq-xs-container: 372px;
$mq-xxs: 320px;
$mq-xxs-container: 282px;

//**************FONTS****************/

$Gilroy: 'Gilroy', sans-serif;
$CeraPro: 'Cera Pro', sans-serif;
$ProximaNova: 'Proxima Nova', sans-serif;

//**FONT-SIZE FOR REM CALCULATION */

$html-font-size: 16px; // base for 1000px

//****************FONT-SIZES**********/
$font-size-hero-xs: 26px;
$font-size-subhero-xs: 18px;

$font-size-hero-sm: 48px;
$font-size-hero-lg: 64px;
$font-size-hero-xl: 64px;

// $font-size-subhero: $font-size-hero / 2;

$font-size-title-xs: 24px;
$font-size-subtitle-xs: 14px;

$font-size-title-sm: 36px;
$font-size-title-lg: 48px;
// $font-size-subtitle: $font-size-title / 2;

$font-size-btn: 16px;
$font-size-plain-xs: 13px;
$font-size-plain-sm: 16px;
$font-size-plainhead-xs: 14px;
$font-size-plainhead-sm: 18px;


//**************SIZES****************/
// header
$height-header-xl: 150px;
$height-header-lg: 140px;
$height-header-md: 100px;
$height-header-sm: 80px;
$height-header-xs: 64px;
$height-header-xxs: 60px; 

//footer
$height-footer-xl: 409px;
$height-footer-lg: 349px;
$height-footer-md: 366px;
$height-footer-sm: 312px;
$height-footer-xs: 252px;
$height-footer-xxs: 252px;

//**************Z-INDEX****************/

$z-index-navigation: 10;
$z-index-notification: 100;
$z-index-modal: 1000;