//!*************COLORS **********************/
//*common colors
$color-white: #fff;
$color-black: #000;
$color-pr1: #0A0C11;
$color-pr2: #15171E;
$color-pr3: #232731;
$color-pr4: #EDC5A2;
$color-red6: #B72025;
$color-brown: #5E4139;


//**************MEDIA QUERIES ****************/
$mq-xl: 1919px;
$mq-xl-container: 1440px;
$mq-lg: 1279px; //base for this project
$mq-lg-container: 1212px; //base for this project
$mq-md: 999px;
$mq-md-container: 948px;
$mq-sm: 767px;
$mq-sm-container: 720px;
$mq-xs: 410px;
$mq-xs-container: 372px;
$mq-xxs: 320px;
$mq-xxs-container: 282px;

//**************FONTS****************/

//gilroy
$OpenSans: 'Open Sans',
sans-serif;
$Roboto: 'Roboto',
sans-serif;
// Trajan pro3
$Inter: 'Inter',
sans-serif;

//**BASE FONT-SIZE FOR REM CALCULATION */

$html-font-size: 16px;
