@import './main_car_order';

.driver {

	// .nodriver__inner
	&__inner {
		margin-top: 24px;
		position: relative;

		@include media-xs {
			margin-top: 42px;
		}

		@include media-sm {
			margin-top: 60px;
		}

		@include media-xl {
			margin-top: 80px;
		}
	}

	// .nodriver__table
	&__table {
		position: relative;
		width: 324px;
		height: 328px;
		padding-left: 82px;
		padding-top: 36px;
		background-color: $color-pr3;
		color: $color-white;

		&::before {
			position: absolute;
			content: "";
			border: 1px solid $color-pr4;
			top: -12px;
			left: 20px;
			width: 302px;
			height: 357px;
		}

		@include media-xs {
			width: 414px;
			height: 411px;
			padding-left: 112px;
			padding-top: 32px;

			&::before {
				top: -20px;
				width: 392px;
				height: 452px;
			}
		}

		@include media-sm {
			position: absolute;
			top: 80px;
			right: 0px;
			width: 308px;
			height: 411px;
			padding-left: 38px;
			padding-top: 50px;

			&::before {
				width: 316px;
				height: 452px;
			}
		}

		@include media-md {
			top: 48px;
			padding-left: 75px;
			width: 334px;
			height: 472px;

			&::before {
				top: -24px;
				left: 24px;
				width: 343px;
				height: 519px;
			}
		}

		@include media-lg {
			top: 124px;
			width: 411px;
			height: 472px;
			padding-top: 50px;
		}

		@include media-xl {
			top: 130px;
			width: 582px;
			height: 472px;
		}
	}

	// .nodriver__table-item
	&__table-item {
		position: relative;
		margin-bottom: 16px;
		padding-left: 32px;

		@include media-xs {
			margin-bottom: 24px;
		}

		@include media-md {
			margin-bottom: 32px;
		}

		@include media-lg {
			margin-bottom: 32px;
		}
	}

	// .nodriver__table-icon
	&__table-icon {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 18px;
	}

	// .nodriver__table-subtitle
	&__table-subtitle {
		display: block;
		margin-bottom: 8px;
		font: 700 14px $Gilroy;
		line-height: 120%;
		text-transform: uppercase;

		@include media-xs {
			font-size: 18px;
			line-height: 120%;
		}
	}

	// .nodriver__table-text
	&__table-text {
		display: inline-block;
		width: 206px;
		font: 400 14px $Gilroy;
		line-height: 160%;
		letter-spacing: 0.05em;

		@include media-xs {
			font-size: 16px;
			line-height: 160%;
			letter-spacing: 0.05em;
		}

		@include media-xl {
			width: 238px;
		}
	}
}