@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  margin: 0 auto;
  padding: 0 6px;
  font-size: 16px;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  width: 282px;
}

@media (min-width: 410px) {
  .wrapper {
    min-width: 410px;
    width: 372px;
  }
}

@font-face {
  font-family: "galeoncar";
  src: url("../fonts/iconmoon/galeoncar.ttf?wytpmi") format("truetype"), url("../fonts/iconmoon/galeoncar.woff?wytpmi") format("woff"), url("../fonts/iconmoon/galeoncar.svg?wytpmi#galeoncar") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "galeoncar" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-airplane:before {
  content: "";
}

.icon-arrow:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-car:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-chrome:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-clockcircle:before {
  content: "";
}

.icon-credit-card-regular:before {
  content: "";
}

.icon-email:before {
  content: "";
}

.icon-engine:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-facebookround:before {
  content: "";
}

.icon-googleplus:before {
  content: "";
}

.icon-handshake-regular:before {
  content: "";
}

.icon-heart-regular:before {
  content: "";
}

.icon-instagram-brands:before {
  content: "";
}

.icon-menu:before {
  content: "";
}

.icon-pin:before {
  content: "";
}

.icon-play-solid:before {
  content: "";
}

.icon-questionmark:before {
  content: "";
}

.icon-shield:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-userlist:before {
  content: "";
}

.icon-videocamera:before {
  content: "";
}

.icon-vk-brands:before {
  content: "";
}

.icon-vkround:before {
  content: "";
}

.icon-whatsup:before {
  content: "";
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("../fonts/Gilroy/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro/CeraPro-Regular.eot");
  src: local("Cera Pro Regular"), local("CeraPro-Regular"), url("../fonts/CeraPro/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro/CeraPro-Black.eot");
  src: local("Cera Pro Black"), local("CeraPro-Black"), url("../fonts/CeraPro/CeraPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro/CeraPro-Black.woff") format("woff"), url("../fonts/CeraPro/CeraPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro/CeraPro-Bold.eot");
  src: local("Cera Pro Bold"), local("CeraPro-Bold"), url("../fonts/CeraPro/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  background-color: #15171E;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff40), to(#ffffff40));
  background-image: linear-gradient(180deg, #ffffff40, #ffffff40);
  background-repeat: no-repeat;
  background-size: 50% 1px;
  background-position: center right;
}

.header__container {
  width: 282px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: 'logo social' 'logo phone';
}

.header__logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: social;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 14px;
}

.header__social span {
  margin: 0 4px;
}

.header__phone {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: phone;
  margin-top: 4px;
  font: bold 14px "Gilroy", sans-serif;
  color: #EDC5A2;
}

.header__app-shop {
  display: none;
}

.header__app-shop.app-shop__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 257px;
  left: 32px;
  row-gap: 20px;
  z-index: 10;
}

.icon-menu {
  display: block;
  font-size: 14px;
  padding: 12px 12px 12px 0px;
}

.logo-lion {
  height: 30px;
}

.logo-text {
  height: 28px;
}

.menu__body {
  position: absolute;
  top: 60px;
  display: none;
  height: 309px;
  width: 171px;
  padding: 34px 32px 21px 32px;
  background-color: #0A0C11;
}

.menu__body.menu__active {
  display: block;
  z-index: 10;
}

.menu__item:not(:first-child) {
  margin-top: 8px;
}

.menu a:link,
.menu a:visited,
.menu a:hover,
.menu a:active {
  font: normal 14px "Gilroy", sans-serif;
  line-height: 17px;
  text-decoration: none;
  color: #fff;
}

.menu a:hover {
  color: #EDC5A2;
}

.menu a:active {
  color: #B72025;
}

.apple-shop {
  width: 106px;
}

.google-shop {
  width: 106px;
}

@media (min-width: 410px) {
  .header__container {
    width: 372px;
    height: 64px;
  }
  .menu__body {
    top: 64px;
  }
  .header__app-shop.app-shop__active {
    top: 261px;
  }
  .logo-lion {
    height: 36px;
  }
  .logo-text {
    height: 34px;
  }
  header__phone {
    font-size: 18px;
  }
}

.main {
  font: 600 16px 'Gilroy';
}
/*# sourceMappingURL=style.css.map */